<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <h2 class="footer-title">Последвайте ни</h2>
                        </div>
                        <div class="footer-about-content">
                            <p>Последвайте ни в социалните мрежи.</p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/Pravenportal-106165282123125/" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Градове</h2>
                        <ul>
                            <li><a title="Намерете добър адвокат в София" href="/lawyers/София">София</a></li>
                            <li><a title="Намерете добър адвокат в Пловдив" href="/lawyers/Пловдив">Пловдив</a></li>
                            <li><a title="Намерете добър адвокат в Варна" href="/lawyers/Варна">Варна</a></li>
                            <li><a title="Намерете добър адвокат в Бургас" href="/lawyers/Бургас">Бургас</a></li>
                            <li><a title="Всички градове" href="/towns"> Всички градове</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Области на правото</h2>
                        <ul>
                            <li><a title="Намерете добър адвокат по Наказателно право" href="/lawyers/Наказателно право">Наказателно право</a></li>
                            <li><a title="Намерете добър адвокат по Търговско право" href="/lawyers/Търговско право">Търговско право</a></li>
                            <li><a title="Намерете добър адвокат по Административно право" href="/lawyers/Административно право">Административно право</a></li>
                            <li><a title="Намерете добър адвокат по Гражданско право" href="/lawyers/Гражданско право">Гражданско право</a></li>
                            <li><a title="Всички области на правото" href="/specialtes">Всички области на правото</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">За Правен портал</h2>
                        <ul>
                            <li><a href="/about">Какво е Правен портал?</a></li>
                            <li><a href="/submitapplication">Присъединете се</a></li>
                            <li><a href="/faq">Често задавани въпроси</a></li>
                            <li><a href="/terms-of-use">Общи условия за ползване</a></li>
                            <li><a href="/contact">Контакти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="copyright">
                <div class="row justify-content-center">
                   <p style="color:#fff;" class="text-center">
			© @DateTime.UtcNow.Year Правен портал. All rights reserved.
		</p>
                </div>
            </div>
        </div>
    </div>
</footer>
