@inherits LayoutComponentBase

<body>
    <NavMenu />
     <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
        <div class="container-fluid">
             @Body
        </div>
   @*<article class="content px-4 mt-sm-60">
            @Body
        </article>*@
    @*<div >
        @Body
    </div>*@
     <Footer />
</body>