@inherits LayoutComponentBase

<PageTitle>Pravenportal</PageTitle>

<body>
     <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
        <div class="main-wrapper">
            <NavMenu />
             @Body
              <Footer />
        </div>
</body>