@inherits LayoutComponentBase

<body>
    <NavMenu />
     <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
        <div class="main-wrapper">
             @Body
              <Footer />
        </div>
   @*<article class="content px-4 mt-sm-60">
            @Body
        </article>*@
    @*<div >
        @Body
    </div>*@
    
</body>