<div class="lawyer-services">
    <div class="lawyer-service">
        <div class="lawyer-service-name">1-hour consultation</div>
        <div class="lawyer-service-price">
            $600.00
        </div>
    </div>
</div>
<style>

.lawyer-services {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}
.lawyer-service {
    background: #fff;
    border: 1px solid #e4e4e4;
    flex: 0 0 50%;
    margin: -1px;
    padding: 1rem 1.5rem;
}
.lawyer-service-name {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.lawyer-service-price {
    margin-top: 1rem;
}
</style>