<div class="review" itemprop="reviews" itemscope="" itemtype="http://schema.org/Review">
    <div class="review-name">
        <span itemscope="" itemprop="author" itemtype="http://schema.org/Person">
            <span itemprop="name">Анна В.</span>
        </span>
        <span class="text-muted" itemprop="datePublished">26 април 2022</span>
    </div>
    <div class="review-score" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="worstRating" content="1">
        <meta itemprop="bestRating" content="5">
        <div class="row">
            <div class="col-sm">
                <div class="rating-name">Обща оценка</div>
                <div class="rating rated">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>
            <div class="col-sm">
                <div class="rating-name">Време за изчакване</div>
                <div class="rating rated">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="col-sm">
                <div class="rating-name">Отношение</div>
                <div class="rating rated">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="content">Отличный врач, быстрый осмотр, все по времени. Рекомендации помогли в моем вопросе.</div>
</div>

