<footer class="alert alert-success help-message" role="alert">
    <h5>Имате нужда от помощ?</h5>
    Разгледайте страницата ни с <a href="/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: hello@superdoc.bg">hello@superdoc.bg</a>
</footer>