<div class="col-md-12">
    <h3>Лекари</h3>
    <div id="clinic-doctors">
        <article id="doctor-4496" class="search-result bookable" data-id="4496">
            <a class="search-result-link" href="https://superdoc.bg/lekar/sofia-antonova" title="Запази час за преглед при Д-р София Антонова"></a>
            <div class="row">
                <div class="col-sm-3 col-3">
                    <img class="img-fluid search-result-thumb" src="https://superdoc.bg/photos/doctors/small/iwh0hylay4XV2Uj0Ne5PGdUWFnoYv2l1fLxJQxnE.jpg" alt="Д-р София Антонова" itemprop="image">
                </div>
                <div class="col-sm-9 col-9">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="search-result-content">
                                <div>
                                    <h3>Д-р София Антонова</h3>
                                    <div class="rating rated">
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </div>
                                    <p>Съдов хирург · София</p>
                                </div>
                                <div class="search-result-actions">
                                    <div class="next-appointment ">
                                        <i class="fal fa-calendar-alt"></i>
                                        <div>
                                            <small>Най-ранен час:</small>
                                            <span>вторник в 14:00</span>
                                        </div>
                                    </div>
                                    <a href="https://superdoc.bg/lekar/sofia-antonova" title="Запази час за преглед при Д-р София Антонова" class="btn btn-primary btn-doctor-book">
                                        Запази час
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-result-attributes">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="search-result-mobile-actions">
                <a href="https://superdoc.bg/lekar/sofia-antonova" title="Запази час за преглед при Д-р София Антонова" class="btn btn-link btn-doctor-book">
                    Запази час
                </a>
            </div>
        </article>
    </div>
</div>