<div class="card shadow">
    <div class="card-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="box">
                        <h2>Здравей,</h2>
                        <p>Използвай формата за търсене – бързо и лесно ще намериш своя адвокат и ще резервираш час за среща напълно безплатно!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="box text-muted text-center">
                        <div class="icon-circle gray">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <h4>Нямате предстоящи часове</h4>
                        <p>Използвайте формата за търсене и запазете час за адвокат сега !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <footer class="alert alert-success help-message" role="alert">
                <h5>Имате нужда от помощ?</h5>
                Разгледайте страницата ни с <a href="/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: support@pravenportal.com">support@pravenportal.com</a>
            </footer>
        </div>
    </div>
</div>