@page "/administration"
@using LawyerServices.Web.Shared.SubmitApplicationModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LawyerServices.Web.Shared
@attribute [Authorize(Roles = "Administrator")]
@inject HttpClient Http

<h3>Admiistration</h3>
<div class="container mt-2 mb-2">
    <EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class = "col mx-2">
            <InputText id="name" placeholder="First Name" @bind-Value="exampleModel.FirstName" />
        </div>
        <div class = "col mx-2">
            <InputText id="name" @bind-Value="exampleModel.LastName"/>
        </div>
        <div class = "col mx-2">
            <InputText id="name" @bind-Value="exampleModel.Email" />
        </div>
    </div>
    
    
    
    <button type="submit">Submit</button>
</EditForm>
</div>

@code {
    private SubmitApplicationModel exampleModel = new();

    private async void HandleValidSubmit()
    {
        Console.WriteLine("sport");

    }
}
