@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@page "/about"

<PageTitle>Какво е Правен портал</PageTitle>

<section class="section section-lawyer">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h5>Какво е Правен портал?</h5>
                <h1>Pravenportal Ви помага да намерите добри адвокати и веднага да резервирате час за среща</h1>
                <br>
                <a class="btn btn-primary btn-lg" href="/Identity/Account/Register">Регистрация</a>
            </div>
            <div class="col-5 col-md-5 offset-md-1 order-first order-md-last text-center">
                <img src="/images/justice.png" title="Pravenportal" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <section class="section section-lawyer" id="features">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-lg-6">
                        <h3>Запазете час за среща при най-добрите адвокати в България</h3>
                        <img src="/images/contract-about.png" title="Pravenportal" style="width: 450px;" class="img-fluid" >
                    </div>
                    <div class="col-md-7 col-lg-6">
                        <div class="feature-block">
                            <div class="d-flex align-items-center">
                                <img style="margin-right: 30px;" width="48" height="48" src="/images/search.svg">
                                <p>Изберете специалност и град, за да прегледате списъка от адвокати – можете да филтрирате по Езици,    безплатна първа консултация и по услуги с фиксирана цена.</p>
                            </div>
                        </div>
                        <div class="feature-block">
                            <div class="d-flex align-items-center">
                                <img style="margin-right: 30px;" width="48" height="48" src="/images/user-rate.svg">
                                <p>Запознайте се с мнението на други потребители като Вас, с квалификациите и опита на адвокатите и изберете своя адвокат.</p>
                            </div>
                        </div>
                        <div class="feature-block">
                            <div class="d-flex align-items-center">
                                <img style="margin-right: 30px;" width="48" height="48" src="/images/calendar.svg">
                                <p >Прегледайте календара на адвоката и веднага резервирайте удобен за Вас час за среща!</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <section class="section section-lawyer" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-6">
                        <h3 class="text-center">След като резервирате час…</h3>
                        <img src="/images/book-about.png" style="width: 450px;" title="Pravenportal" class="img-fluid" >
                    </div>

                    <div class="col-md-7 col-lg-6">
                        <div class="feature-block">
                            <div class="d-flex align-items-center">
                                <img style="margin-right: 30px;" width="48" height="48" src="/images/calendar.svg">
                                <p>След като резервирате своя час за среща, той автоматично ще се появи във вашия профил.</p>
                            </div>
                        </div>
                        <div class="feature-block">
                            <div class="d-flex align-items-center">
                                <img style="margin-right: 30px;" width="48" height="48" src="/images/email.svg">
                                <p >Един ден преди срещата ще получите напомнящ е-мейл.</p>
                            </div>
                        </div>
                        <div class="feature-block">
                            <div class="d-flex align-items-center">
                                <img style="margin-right: 30px;" width="48" height="48" src="/images/appointment-rate.svg">
                                <p >След посещението при адвоката ще можете да оставите оценка, за да помогнете на други потребители да направят правилен избор !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<section class="section section-lawyer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6 text-center">
                <h2>Благодарим ви, че използвате Правен портал!</h2>
                <p class="lead">Най-лесният и удобен начин да запазите час за среща – от своя дом или офис! Правен портал е точното място за да запазите час за среща с адвокат или да откриете нотариус!</p>
            </div>
        </div>
    </div>
</section>
<section class="section section-lawyer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6 text-center">
                <HelpCard></HelpCard>
            </div>
        </div>
    </div>
</section>