.section-lawyer {
    background-color: #f8f9fa;
    padding: 80px 0;
}

    .section-lawyer .section-header {
        margin-bottom: 30px;
    }

        .section-lawyer .section-header p {
            margin-top: 10px;
        }
