@page "/about"


<section class="section section-doctor">
    <div class="layer">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-6">
					<h5>Какво е Супердок?</h5>
					<h1>Superdoc Ви помага да намерите добри лекари и веднага да резервирате час за преглед</h1>
					<br>
					<a class="btn btn-primary btn-lg" href="https://superdoc.bg/register">Регистрация</a>
				</div>
				<div class="col-5 col-md-5 offset-md-1 order-first order-md-last text-center">
					<img src="https://superdoc.bg/img/superdoc-hero.svg" title="SuperDoc" class="img-fluid">
				</div>
			</div>
		</div>
	</div>

	<div class="layer green-lighter">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Резервирайте час за преглед при най-добрите специалисти в България</h3>
				</div>
				<div class="col-md-7 offset-md-1 for-patients-steps">
					<div class="d-flex align-items-center">
						<img class="img-thumb" src="https://superdoc.bg/img/search-doctor.png">
						<p class="lead">Изберете специалност и град, за да прегледате списъка от специалисти – можете да филтрирате по пол на лекаря, работа с НЗОК и обявени цени на прегледите.</p>
					</div>
					<div class="d-flex align-items-center">
						<img class="img-thumb" src="https://superdoc.bg/img/users-rate.png">
						<p class="lead">Запознайте се с мнението на други пациенти като Вас, с квалификациите и опита на специалистите и изберете своя лекар.</p>
					</div>
					<div class="d-flex align-items-center">
						<img class="img-thumb" src="https://superdoc.bg/img/book-appointment.png">
						<p class="lead">Прегледайте календара на лекаря и веднага резервирайте удобен за Вас час за преглед!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>След като резервирате час…</h3>
				</div>
				<div class="col-md-7 offset-md-1 for-patients-steps">
					<div class="d-flex align-items-center">
						<img class="img-thumb" src="https://superdoc.bg/img/appointment-time.png">
						<p class="lead">След като резервирате своя час за преглед, той автоматично ще се появи във вашия профил.</p>
					</div>
					<div class="d-flex align-items-center">
						<img class="img-thumb" src="https://superdoc.bg/img/appointment-notification.png">
						<p class="lead">Два дни преди прегледа ще получите напомнящ е-мейл и смс съобщение.</p>
					</div>
					<div class="d-flex align-items-center">
						<img class="img-thumb" src="https://superdoc.bg/img/appointment-rate.png">
						<p class="lead">След посещението при лекаря ще можете да оставите оценка, за да помогнете на други потребители с избора!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="layer">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center">
					<h2>Благодарим ви, че използвате Superdoc!</h2>
					<p class="lead">Най-лесният и удобен начин да резервирате медицински прегледи – от своя дом или офис! Superdoc е точният лекар, в точното време, на точното място!</p>
				</div>
			</div>
		</div>
	</div>

	<section class="layer">
		<div class="container-fluid">
			<div class="row justify-content-center">
	<div class="col-xl-11">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-7 col-xl-6">
				<div id="quotes" class="quotes">
					<svg xmlns="http://www.w3.org/2000/svg" width="48.555" height="35.64" viewBox="0 0 48.555 35.64"><path d="M-2.023-45.507a9.068,9.068,0,0,0-2.779.49c.49-6.539,5.4-9.646,9.809-13.242L-.879-63C-8.562-58.259-13.14-47.959-13.14-39.622c0,6.7,3.106,12.261,10.3,12.261,6.212,0,9.646-3.76,9.646-9.319S3.045-45.507-2.023-45.507Zm28.61,0a9.068,9.068,0,0,0-2.779.49c.49-6.539,5.4-9.646,9.809-13.242L27.731-63C20.047-58.259,15.47-47.959,15.47-39.622c0,6.7,3.106,12.261,10.3,12.261,6.212,0,9.646-3.76,9.646-9.319S31.655-45.507,26.587-45.507Z" transform="translate(13.14 63)" fill="#01bfa5"></path></svg>
					<div class="quote tab active" id="quote-1">
						<blockquote>
							За работата ми е изключително важно да се доверя на добър УНГ специалист. Ползвах Супердок, за да избера лекар и да запазя час. Доста удобно – намерих добър специалист близо до нас и спестих доста време в търсене и чакане.
						</blockquote>
						<div class="d-flex">
							<img width="74" height="74" src="https://superdoc.bg/img/Kaloyan-Dimitrov.png" alt="">
							<div>
								<strong>Калоян Д.</strong>
								<p>Звуков инженер</p>
							</div>
						</div>
					</div>
					<div class="quote tab" id="quote-2">
						<blockquote>
							Много съм доволна от Супердок! Запазих си час онлайн, което е прекрасно улеснение – планирах деня и времето си, пред кабинета почаках 3-4 минути. Лесно, удобно, направено с умисъл и грижа за пациентите.
						</blockquote>
						<div class="d-flex">
							<img width="74" height="74" src="https://superdoc.bg/img/Violeta-Ivanova.png" alt="">
							<div>
								<strong>Виолета И.</strong>
								<p>Икономист</p>
							</div>
						</div>
					</div>
					<div class="quote tab" id="quote-3">
						<blockquote>
							Винаги съм искала да избегна трудното свързване по телефона и монотонно изброяване на свободни часове, докато избера удобен за мен час. Супердок е сбъдната мечта – намирам желания доктор, избирам и запазвам свободен час веднага!
						</blockquote>
						<div class="d-flex">
							<img width="74" height="74" src="https://superdoc.bg/img/Jeni-Dimitrova.png" alt="">
							<div>
								<strong>Жени Д.</strong>
								<p>Майка на две деца</p>
							</div>
						</div>
					</div>
				</div>

				<div id="quotes-menu" class="quotes-menu">
					<a href="#" class="js-tab active" data-tab="quote-1" data-menu="quotes-menu" data-wrap="quotes"></a>
					<a href="#" class="js-tab" data-tab="quote-2" data-menu="quotes-menu" data-wrap="quotes"></a>
					<a href="#" class="js-tab" data-tab="quote-3" data-menu="quotes-menu" data-wrap="quotes"></a>
				</div>
			</div>
		</div>

	</div>
</div>
		</div>
	</section>

	<section class="layer">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<footer class="alert alert-success help-message" role="alert">
	<h5>Имате нужда от помощ?</h5>
	Разгледайте страницата ни с <a href="https://superdoc.bg/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: hello@superdoc.bg">hello@superdoc.bg</a>
</footer>
				</div>
			</div>
		</div>
	</section>

</section>
<style>
     .marg {
        margin-top: 80px;
        margin-bottom: 120px;
    }
    .layer{
    
       padding-top: 80px;
    padding-bottom: 80px;
    }
</style>

@code {

}
