@page "/booking/{lawyerId}/{appointmentId}"

<div class="content marg">
    <div class="container-fluid">
        <div class="container-xl">


            <div class="row justify-content-center" id="booking" data-step="1" data-loginurl="https://superdoc.bg/login/healee">

                <div class="col-md-7 col-lg-8 order-sm-2 order-md-1">

                    <div class="box" id="booking-data">
                        <div class="box-header">

                            <div class="steps-mobile">
                                <i class="fad fa-arrow-circle-right"></i>
                                Стъпка 1 от 2
                            </div>
                            <h4>Детайли за прегледа</h4>


                        </div>

                        <form method="POST" action="https://superdoc.bg/booking/step/1" id="booking-form" class="js-validate" novalidate="">




                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md col-lg-8 col-xl-7">


                                        <label for="reasonforvisit">Каква е причината за посещението?</label>


                                        <select name="reason_id" id="reasonforvisit" class="form-control form-control-lg" data-validation-required="Избери причина за посещението" required="">

                                            <option value="" selected="" disabled="">
                                                Избери...
                                            </option>

                                            <option value="78417" data-reason="1" data-name="Първичен преглед" data-price="" data-length="" data-days="">

                                                Първичен преглед

                                            </option>
                                            <option value="78418" data-reason="2" data-name="Вторичен преглед" data-price="" data-length="" data-days="" data-secondary="1">

                                                Вторичен преглед

                                            </option>
                                            <option value="78419" data-reason="3" data-name="Профилактичен преглед" data-price="" data-length="" data-days="">

                                                Профилактичен преглед

                                            </option>
                                            <option value="78420" data-reason="4" data-name="Детска консултация" data-price="" data-length="" data-days="">

                                                Детска консултация

                                            </option>
                                            <option value="78421" data-reason="5" data-name="Майчино здравеопазване" data-price="" data-length="" data-days="">

                                                Майчино здравеопазване

                                            </option>
                                            <option value="78422" data-reason="6" data-name="Диспансеризиран пациент" data-price="" data-length="" data-days="">

                                                Диспансеризиран пациент

                                            </option>
                                            <option value="78423" data-reason="7" data-name="Медицинска процедура" data-price="" data-length="" data-days="">

                                                Медицинска процедура

                                            </option>
                                            <option value="78424" data-reason="8" data-name="Образно изследване" data-price="" data-length="" data-days="">

                                                Образно изследване

                                            </option>
                                            <option value="78425" data-reason="14" data-name="Лабораторно изследване" data-price="" data-length="" data-days="">

                                                Лабораторно изследване

                                            </option>
                                            <option value="78426" data-reason="9" data-name="Друго изследване" data-price="" data-length="" data-days="">

                                                Друго изследване

                                            </option>
                                            <option value="78427" data-reason="10" data-name="Издаване на рецепта" data-price="" data-length="" data-days="">

                                                Издаване на рецепта

                                            </option>
                                            <option value="78428" data-reason="11" data-name="Ваксина" data-price="" data-length="" data-days="">

                                                Ваксина

                                            </option>
                                            <option value="78429" data-reason="12" data-name="Издаване на медицинско" data-price="" data-length="" data-days="">

                                                Издаване на медицинско

                                            </option>
                                            <option value="78430" data-reason="13" data-name="Друго" data-price="" data-length="" data-days="">

                                                Друго

                                            </option>

                                        </select>

                                        <div class="invalid-feedback">
                                        </div>

                                        <div id="reason-price" class="mt-2 text-success" hidden="">
                                            <label class="mb-0"></label> – <span></span>
                                        </div>

                                    </div>
                                </div>

                            </div>



                            <div class="row" id="appointment-payment">
                                <div class="col-md col-lg-8 col-xl-7">

                                    <div class="form-group">


                                        <label for="payment_method">Как ще бъде заплатен прегледа?</label>


                                        <select id="payment_method" name="payment_method_id" class="payment_method form-control form-control-lg" data-validation-required="Избери метод на плащане" required="">

                                            <option value="" disabled="">Избери...</option>




                                            <option value="1" data-insurer="state">Преглед по НЗОК (направление/потребителска такса)</option>



                                            <option value="2" selected="">Лично заплащане</option>

                                        </select>


                                        <div class="invalid-feedback">
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="alert alert-warning alert-small" id="alert-payment" hidden="">
                                💡 <span class="text-content"></span>
                            </div>




                            <div class="form-group">

                                <label for="new">Пациентът посещавал ли е този лекар преди?</label>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="new" id="new1" value="1" checked="">
                                    <label for="new1" class="form-check-label">
                                        Аз съм нов пациент
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="new" id="new2" value="0">
                                    <label for="new2" class="form-check-label">
                                        Посещавал съм го и преди
                                    </label>
                                </div>

                                <div class="invalid-feedback">
                                </div>

                            </div>

                            <div id="followup-helper" class="alert alert-info" hidden="">

                                <i class="fal fa-info-circle"></i>
                                Ако сте избрали вторичен преглед, не е възможно да бъде нов пациент. Ако пациентът не е посещавал лекаря преди, моля изберете друга причина за прегледа.

                            </div>

                            <hr class="d-none d-md-block">

                            <div class="message"></div>

                            <div class="row next-step-button">

                                <div class="col-12">

                                    <button type="submit" class="btn btn-primary btn-lg">Напред</button>

                                </div>

                            </div>

                        </form>
                    </div>

                </div>

                <div class="col-md-5 col-lg-4 d-md-block order-sm-1 order-md-2" id="booking-infocard">
                    <div class="doctor-card">






                        <div class="doctor-card-time">

                            <div class="next-appointment d-flex ">
                                <i class="fal fa-calendar-alt"></i>
                                <div>
                                    <div class="small">Час в кабинет</div>
                                    <h2>
                                        четвъртък, 31 март 2022, 14:30


                                    </h2>
                                </div>
                            </div>

                        </div>



                        <div class="doctor-card-practice d-flex">

                            <a href="https://superdoc.bg/lekar/nikoleta-balabanova">
                                <img class="img-fluid" src="https://superdoc.bg/photos/doctors/small/1ZdhUdkH2zIWAofn5ZwRnKZc2u2d9Gh2w7kVZBgx.jpg" alt="Д-р Николета Балабанова">
                            </a>

                            <div>

                                <h5 class="d-block d-md-none">Преглед при...</h5>

                                <h6 class="doctor-name m-0">
                                    <a class="doctor-name-link" href="https://superdoc.bg/lekar/nikoleta-balabanova">
                                        Д-р Николета Балабанова
                                    </a>
                                </h6>

                                <div class="small text-muted">Нефролог, Вътрешни болести</div>

                                <div class="rating rated">

                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </div>


                            </div>

                        </div>


                        <hr>


                        <span class="clinic-name">Нефрологичен кабинет д-р Балабанова</span><br>


                        <div class="small text-muted">Бургас · ул. Цар Симеон 82 (партер)</div>



                        <hr>
                        <dl class="d-none d-md-block">



                            <dt>Плащане</dt>
                            <dd>Лично заплащане</dd>


                        </dl>








                    </div>
                </div>

            </div>



            <div class="row help-row justify-content-center">

                <div class="col-md-8">
                    <footer class="alert alert-success help-message" role="alert">
                        <h5>Имате нужда от помощ?</h5>
                        Разгледайте страницата ни с <a href="https://superdoc.bg/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: hello@superdoc.bg">hello@superdoc.bg</a>
                    </footer>
                </div>

            </div>

        </div>
    </div>
</div>
<style>
    .marg {
        margin-top: 80px;
        margin-bottom: 120px;
    }
</style>
@code {

    [Parameter]
    public string lawyerId { get; set; }

    [Parameter]
    public string AppointmentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
       

    }
}
