@page "/faq"
<section class="section section-doctor">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="heading-2">Често задавани въпроси</h1>
                <div>
                    <p><strong>Какво е Superdoc.bg?</strong><br>Superdoc.bg e платформа, която улеснява избора от страна на пациентите на лекар, зъболекар или друг тип здравен специалист. Имате възможност да прочетете потвърдени мнения на други пациенти, които са посещавали избрания от Вас лекар и да запазите директно час при него онлайн чрез системата на Супердок. Superdoc.bg не е лечебно заведение и не предлага медицинско обслужване, както и отговори на медицински въпроси. Ние Ви улесняваме в избора на лекар и зъболекар и Ви предоставяме възможност да резервирате час за преглед онлайн.</p>
                    <p><strong>Всички лекари ли могат да се намерят в базата на Superdoc.bg?</strong><br>В момента в платформата Супердок присъстват само профили на лекари, които са изявили желание и са дали своето съгласие да ползват платформата. Усилено работим по набиране на лекари от цялата страна.</p>
                    <p><strong>Мога ли да се свържа със Superdoc.bg&nbsp;по телефона и да запазя час за преглед?</strong><br>Целта на Супердок е да не се налага да запазвате часове по телефона! Идеята ни е да създадем лесна за ползване система за избор на специалист и запазване на час за преглед онлайн. Чрез платформата Супердок не можете да запазите час по телефона – можете да направите това онлайн в календара на съответния лекар или като се свържете с лекаря или медицинския център. Ако имате проблем с ползването на платформата Супердок, обадете ни се и ние ще Ви помогнем да резервирате час за преглед онлайн!</p>
                    <p><strong>Мога ли да се свържа по телефона с избрания от мен лекар?</strong><br>Платформата Супердок предлага на лекари и пациенти възможността за резервиране на час за преглед по всяко време на денонощието онлайн. Някои лекари избират да оставят телефона в профила си видим за пациентите, а други предпочитат потребителите да нямат достъп до тази информация. Ако се наложи да отмените запазения от Вас час, можете да направите това в профила си, в страницата „Моите резервации”. За всякакви други технически въпроси можете да се свържете със Супердок.</p>
                    <p><strong>Как мога да се свържа със Superdoc.bg?</strong><br>Можете да се свържете с нас чрез&nbsp;<a href="http://superdoc.bg/kontakti/">формата за контакти</a>, да ни изпратите е-мейл на hello@superdoc.bg или да ни се обадите на телефон 0883 707 132 между 9:00 и 17:00 ч. Ако нямаме възможност да Ви вдигнем в момента или ни звъните в извънработно време, ще Ви върнем обаждане при първа възможност!</p>
                    <p><strong>Как мога да търся лекар?</strong><br>Използвайки формата за търсене от началната страница, Вие може да откриете лекари и зъболекари по специалност, местоположение, име, както и да филтрирате избора си по пол, работа с НЗОК или работа с деца. В последствие можете да подредите резултатите по популярност и най-висока оценка.</p>
                    <p><strong>Как да запазя час за преглед чрез Супердок?</strong><br>Когато изберете специалист, отворете неговия профил и натиснете бутона Запази час. Ще се придвижите към календара на лекаря, където в зелено ще видите свободните часове. Изберете удобен за Вас час в зелено и го натиснете – системата ще Ви води през процес на кратка регистрация и резервация.</p>
                    <p><strong>Задължително ли да се регистрирам, за да запазя час чрез Супердок?</strong><br>Да, регистрацията в Супердок ще даде на лекаря предварителна информация на Вас, както и достъп до Вашите контакти, в случай, че се наложи да се свърже с Вас.</p>
                    <p><strong>Как да съм сигурен, че съм успял да запазя час за преглед?</strong><br>Запазването на час се състои от 3 лесни и кратки стъпки – ако сте стигнали до страница с надпис „Успешно резервирахте час”, значи процесът е приключил и имате резервиран час. До няколко минути ще получите и е-мейл с детайлите за предстоящия преглед&nbsp;<span lang="BG">(за всеки случай проверете и в папка Спам)</span>. Резервацията можете да видите по всяко време и в секция „Моите резервации” във Вашия профил.</p>
                    <p><strong>Как да разбера дали даден лекар работи с направления по НЗОК?</strong><br>В профила на всеки лекар, който работи с направления по НЗОК, над календара ще видите публикувано логото на НЗОК. Освен това, когато запазвате час, първият въпрос е как ще заплатите – ако в падащото меню видите възможен отговор „С направление по НЗОК”, значи лекарят работи с направления. Отделно от това във формата за търсене на лекари по специалност, град и име, можете да филтрирате резултатите по лекари, които работят с направления по НЗОК.</p>
                    <p><strong>Не съм сигурен каква причина за преглед да избера – какво да правя?</strong><br>Ако не виждате точната причина, поради която искате да запазите час за преглед при специалист, изберете тази, която е най-близо до Вашата причина. В следващата стъпка за резервиране на час можете да оставите допълнителна информация на лекаря в поле „Бележки към резервацията”.</p>
                    <p><strong>Искам да запазя час за детето си или друг член на семейството – моите данни ли да попълня при регистрация или тези на детето?</strong><br>При регистрация е добре да попълните Вашите имена, данни и контакти, за да има лекарят връзка с Вас. При резервация на час, в последната стъпка, имате възможност да смените името на пациента, за който резервирате час, както и да попълните неговата възраст (или пък да го напишете в свободен текст в поле Бележки към резервацията). По този начин ще имате акаунт на Ваше име, но ще можете да запазвате часове и за своето дете. Лекарят ще види Вашите имена и контакти за връзка, както и имената и възрастта на пациента, за когото е запазен часът. Ако запазвате час за друг пълнолетен член на Вашето семейство, то Вие трябва да имате правно основание да го представлявате и да споделяте негови лични данни.&nbsp;</p>
                    <p><strong>Регистрирах се, но не мога да вляза в профила си и да довърша резервацията – какво да направя?</strong><br>Възможно е да сте сгрешили някой от символите при въвеждане на е-мейла или паролата при регистрация. Ако сте получили мейл с потвърждение на регистрацията, значи мейлът Ви е въведен правилно и сте сгрешили паролата си. Можете да поискате нова парола чрез&nbsp;<a href="../../../password/reset">този линк</a>.&nbsp;<span lang="BG">Мейл с линк за смяна на</span> парола<span lang="BG">та</span> ще бъде изпратена веднага на мейла Ви от регистрацията – ако не го видите, проверете за всеки случай в папка Спам. <span lang="BG">Линкът за смяна на парола, който ще получите, е валиден 60 минути.</span></p>
                    <p><strong>Поисках нова парола, но и с нея не мога да вляза в профила си – каква е причината?</strong><br>Когато копирате паролата си от автоматичния мейл, който сте получили при поискване на нова парола, внимавайте да не копирате празен символ (разстояние) преди или след самата парола. Ако отново не успеете да влезете в профила си, обадете ни се на посочения телефон за връзка.</p>
                    <p><strong>Ако не успея да отида на прегледа, мога ли да откажа запазения от мен час?</strong><br>Ако се случи така, че се наложи да откажете резервиран час, влезте във Вашия профил и откажете резервацията си чрез бутон „Откажи” в страница „Моите резервации”. Ако не откажете резервацията и не посетите запазения от Вас час, лекарят има възможност да Ви маркира като „Неявил се пациент”. Повече от едно неявяване и прекалено много промени могат да доведат до заключване на Вашия профил – целта е да сме сигурни, че календарите на специалистите са винаги точни за пациентите, които разчитат на тях.</p>
                    <p><strong>Възможно ли е запазеният от мен час за преглед да бъде отказан от лекаря?</strong><br>Понякога се случва при специалистите да изникне спешен случай. Тогава ще получите мейл и вайбър съобщение или СМС от Супердок с информация за промяната и ще имате възможност да запазите нов час.</p>
                    <p><strong>Как да видя моите минали часове и посетени лекари?</strong><br>Влезте във Вашия профил и изберете „Минали резервации”.</p>
                    <p><strong>Не желая да получавам потвърждения или напомняния за запазен час и за оставяне на оценка – какво да направя?</strong><br>Влезте във Вашия акаунт и ги изключете в секция „Профил”.</p>
                    <p><strong>Как да оставя оценка за посетения от мен лекар?</strong><br>След Вашия преглед, ще получите мейл от Супердок с линк, който да последвате, за да оставите оценка. Друг вариант е да влезете във Вашия профил, да изберете секция „Минали резервации” и да натиснете бутона „Остави оценка”. Имате възможност да дадете Вашето мнение до 14 дни след прегледа.</p>
                    <p><strong>Обективни ли са оценките&nbsp;за лекарите, публикувани в Superdoc.bg?</strong><br>Публикуваме оценки само от пациенти, резервирали час за преглед и посетили съответния лекар чрез платформата Супердок. В други сайтове, каталози и форуми в интернет всеки може да остави оценка – дори самият лекар. Затова оценките за специалистите в Супердок са истински, надеждни и точни. Подсещаме всеки пациент за отзив след прегледа, затова имаме представителна средна оценка, която да Ви помогне да изберете най-подходящия за Вас лекар.</p>
                    <p><strong>Защо не виждам своята оценка в Superdoc.bg?</strong><br>Супердок модерира оценките, оставени от пациенти, за да сме сигурни, че те са обективни и полезни за лекарите и останалите потребители. Следваме следните принципи, преди да публикуваме мнение:</p>
                    <ul>
                        <li>Не публикуваме обидно и вулгарно съдържание;</li>
                        <li>Не публикуваме ревюта, които разкриват лична информация за лекари или пациенти;</li>
                        <li>Не публикуваме мнения, които касаят диагноза или лечение – те отразяват факти, които не можем да потвърдим, а обективността на мненията е един от главните приоритети на Супердок;</li>
                        <li>Не публикуваме коментари, които&nbsp;не касаят пряко самия преглед, Вашето мнение за лекаря и Вашето преживяване като пациент при дадения специалист;</li>
                        <li>Не публикуваме оценки на ценовата политика на определен лекар, тъй като тези оценки в голяма част от случаите са субективни.&nbsp;</li>
                    </ul>
                    <p><strong>Как да съм сигурен, че информацията в моя профил е защитена?</strong><br>Сигурността на Вашия профил и лична информация е наш основен приоритет и следваме всички текущи стандарти на сигурност в интернет, за да я защитим.</p>
                    <p><strong>Аз съм лекар. Как мога да се включа в Superdoc.bg?</strong><br>Това става изключително лесно. Научете повече подробности за предимствата на Супердок и подайте заявление за регистрация&nbsp;<a href="http://superdoc.bg/stanete-superdoktor/">тук</a> или се свържете с нас на тел. 0883 707 132 и мейл hello@superdoc.bg.</p>
                    <p><strong>Харесва ми идеята на Superdoc.bg –&nbsp;как да я популяризирам?</strong><br>Можете да се свържете с нас чрез страницата ни във фейсбук. Ако сте пациент и имате любим лекар, който не присъства в платформата, разкажете му за нас! Ако сте лекар, кажете на Вашите пациенти за възможността да резервират час при вас чрез Супердок!</p>
                    <p>Благодарим Ви за позитивната обратна връзка!</p>
                </div>

                <br>
                <footer class="alert alert-success help-message" role="alert">
                    <h5>Имате нужда от помощ?</h5>
                    Разгледайте страницата ни с <a href="https://superdoc.bg/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: hello@superdoc.bg">hello@superdoc.bg</a>
                </footer>

            </div>
        </div>

    </div>
</section>
<style>
    .marg {
        margin-top: 80px;
        margin-bottom: 120px;
    }

    .layer {
        padding-top: 80px;
        padding-bottom: 80px;
    }
</style>

@code {

}