@page "/Help-desk"
@layout Shared.AdministrationLayout



<PageTitle>Помощен център</PageTitle>

<section class="padd-section text-center">
    <h1 style="margin-bottom: 30px;">Помощен център</h1>
    <div class="container-fluid">

        <hr style="color:black">
        <div class="row">
            <h2>Създаване на час за консултация</h2>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left; ">Изберете произволна дата от месечният календар. Щракнете върху нея ще ви се отвори диалогов прозорец от който изберете час за консултация.</p>
                <p style="text-align: left; margin-top: 30px;">Прозорецът ще се промени, въведете начален час и краен час. След това натиснете бутона запази и часът ще се появи във вашият календар.</p>
                <p style="text-align: left; margin-top: 30px;"><strong class="text-danger">Важно !!! </strong>Този час ще е видим за вашите клиенти и ще може да бъде запазен за среща с вас.</p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/dropdown1.jpg">
            </div>
        </div>
        <hr style="color:black">
        <div class="row">
            <h2>Създаване на часове за консултация в диапазон от време</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете произволна дата от месечният календар. Щракнете върху нея ще ви се отвори диалогов прозорец на който изберете въведи в диапазон.</p>
                <p style="text-align: left; margin-top: 30px;">Прозорецът ще се промени, изберете дата, след това щракнете върху поле диапазон ще имате две опции 30 и 60 минути, изберете една от тях.След това изберете начален и краен час. След това натиснете бутона запази и часовете ще се появят във вашият календар.</p>
                <p style="text-align: left; margin-top: 30px;"><strong class="text-danger">Важно !!! </strong>Тези часове ще са е видими за вашите клиенти и ще могат да бъдат запазени за среща с вас.</p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/diapazon-heldesk1.jpg">
            </div>
        </div>
        <hr style="color:black">
        <div class="row">
            <h2>Създаване на друг вид среща</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете произволна дата от месечният календар. Щракнете върху нея ще ви се отвори диалогов прозорец на който изберете работна среща.</p>
                <p style="text-align: left; margin-top: 30px;">Прозорецът ще се промени, въведете начален час и краен час, име на клиента,телефон, имейл и допълнителна информация.</p>
                <p style="text-align: left; margin-top: 30px;">След това натиснете бутона запази и срещата ще се появи във вашият календар.</p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/Screenshot_91.jpg">
            </div>
        </div>
        <hr style="color:black">
         <div class="row">
            <h2>Промяна на час за консултация</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете час за консултация ще се отвори диалогов прозорец от който можете да промените часът и датата.</p>
                <p style="text-align: left; margin-top: 30px;">След това натиснете бутона промени.</p>
                <p style="text-align: left; margin-top: 30px;">Ако желаете да премахнете часът натиснете бутона изтрий.<strong class="text-danger">Важно ако изтриете часът той няма да е видим за вашите клиенти !!! </strong></p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/Screenshot_8.jpg">
            </div>
        </div>
        <hr style="color:black">
                 <div class="row">
            <h2>Промяна на работна среща</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете работна среща ще се отвори диалогов прозорец от който можете да промените всички данни.</p>
                <p style="text-align: left; margin-top: 30px;">След това натиснете бутона промени.</p>
                <p style="text-align: left; margin-top: 30px;">Ако желаете да премахнете часът натиснете бутона изтрий.</p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/Screenshot_15.jpg">
            </div>
        </div>
         <hr style="color:black">
               <div class="row">
            <h2>Създаване на съдебно заседание автоматично</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете произволна дата от месечният календар. Щракнете върху нея ще ви се отвори диалогов прозорец от който изберете заседание.</p>
                <p style="text-align: left; margin-top: 30px;">Изберете съд</p>
                <p style="text-align: left; margin-top: 30px;">Въведете номер на делото</p>
                <p style="text-align: left; margin-top: 30px;">Въведете година на делото</p>
                <p style="text-align: left; margin-top: 30px;">Натиснете бутона търси и полетата по долу ще се попълнят автоматично с изключение на страна по делото което може да въведете ръчно.</p>
            <p style="text-align: left; margin-top: 30px;">Натиснете бутона запази и заседанието ще се появи във вашият календар.</p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/заседание-автоматично.jpg">
            </div>
        </div>
        <hr style="color:black">
               <div class="row">
            <h2>Създаване на съдебно заседание</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете произволна дата от месечният календар. Щракнете върху нея ще ви се отвори диалогов прозорец от който изберете час за заседание.</p>
                <p style="text-align: left; margin-top: 30px;">Изберете час от полето начален час, след това попълнете останалите полетата</p>
                <p style="text-align: left; margin-top: 30px;">Натиснете бутона запази и заседанието ще се появи във вашият календар.</p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/zasedanie-helpdesk.jpg">
            </div>
        </div>
        <hr style="color:black">
             <div class="row">
            <h2>Промяна на съдебно заседание</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете час за заседение ще се отвори диалогов прозорец от който можете да промените всички данни.</p>
      
                <p style="text-align: left; margin-top: 30px;">Натиснете бутона промени и заседанието ще се появи във вашият календар със всички промени.</p>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/Screenshot_17.jpg">
            </div>
        </div>
        <hr style="color:black">
            <div class="row">
            <h2>Справки за срещи, Съдебни заседания, отказ на среща и маркиране като неявил се</h2>

            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <p style="text-align: left;">Изберете от менюто срещи.</p>
                <p style="text-align: left; margin-top: 30px;">Ще се появят всички заседания както и всички консултации запазени от клиентите.</p>
                 <p style="text-align: left; margin-top: 30px;">Можете да търсите по всички полета като въвеждате в полетата най-отгоре платформата търси динамично така, че още докатото пишете започва да филтрира резултатите.<strong class="text-danger">Важно ако искате да търсите по дадено поле уверете се, че всички останали са празни !!! </strong></p>
                  <p style="text-align: left; margin-top: 30px;">Ако не е настъпило времето за среща можете да я откажете като натиснете бутона откажи.</p>
                   <p style="text-align: left; margin-top: 30px;">Ако консултацията е преминала ще се появи бутон неявил се натиснете го само ако клиента не се е явил на срещата.</p>
            </div>
            <div class="col-sm-7 col-xs-12 homepage-textsection">
                <img class="img-fluid" src="/images/Screenshot_13.jpg">
            </div>
        </div>
        <hr style="color:black">
    </div>
</section>
<style>
    .padd-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .homepage-textsection {
        border-right: 1px solid #ececf0;
        padding: 3.5rem 3rem;
    }

    homepage-textsection h2:first-child {
        margin-top: 0;
    }

    .homepage .section h2 {
        margin-bottom: 2rem;
    }
</style>