@page "/history"
@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.WorkingTimeModels
@using System.Globalization

@inject HttpClient Http


@layout Shared.AdministrationLayout

<AuthorizeView Roles="User">
    <Authorized>

        <div class="content">
            <div class="container-fluid">
                @if (wteModel == null)
                {
                   <Spiner></Spiner>
                }
                else if (!wteModel.Any())
                {
                    <div class="row">
                       <NoUpcomingLawyerHours></NoUpcomingLawyerHours>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <h3 class="text-center">Минали резервации</h3>
                                @foreach (var wte in wteModel)
                                {
                                     <UserHistoryWteCard Wte="@wte"></UserHistoryWteCard>
                                  
                                }
                               <HelpCard></HelpCard>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    </NotAuthorized>
</AuthorizeView>


@code {

    private List<WorkingTimeExceptionUserViewModel>? wteModel;
  
    protected override async Task OnInitializedAsync()
    {
        //var date = DateTime.Now.ToLocalTime().ToString();
        var response = await this.Http.GetFromJsonAsync<List<WorkingTimeExceptionUserViewModel>>($"User/GetOverUserWorkingTimeExceptions");
        if (response != null)
        {
            wteModel = response;
        }
        else
        {
             NavigationManager.NavigateTo("/Identity/Account/Login", true);

        }
        await base.OnInitializedAsync();

    }
}
