@page "/"
@using LaweyrServices.Web.Shared.AministrationViewModels
@using LaweyrServices.Web.Shared.AreasOfActivityViewModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JsRuntime
<PageTitle>Index</PageTitle>

<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Намерете своя адвокат. Свържете се онлайн.</h1>
                <p>Адвокати е единственото място за лесно търсене на вашия перфектен адвокат и незабавно резервиране с него онлайн.</p>
            </div>

            <!-- Search -->
            <div class="search-box">
                <form>
                    <div class="form-group search-location">
                        <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете град" Class="w-100"
                                        Data=@(towns?.Select(c => c.Name).Distinct())
                                        Change=@(args => OnChange(args, "DropDown")) Style="cursor:pointer; border-color:black" />
                        <span class="form-text">Based on your Location</span>
                    </div>
                    <div class="form-group search-info">
                        <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете сфера на дейност" Class="w-100"
                                        Data=@(areas?.Select(c => c.Name).Distinct())
                                        Change=@(args => OnChangeArea(args, "DropDown")) Style="cursor:pointer; border-color:black" />
                        <span class="form-text">Ex : Dental or Sugar Check up etc</span>
                    </div>
                    <button type="button" class="btn btn-primary search-btn" @onclick="Submit"><i class="oi oi-magnifying-glass"></i> <span>Търси</span></button>
                </form>
            </div>
            <!-- /Search -->

        </div>
    </div>
</section>
<!-- /Home Banner -->
<section class="section section-doctor">
    <div class="container text-center">
        <h2>How Does LawConnect Work?</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home01.3aca8266.svg" alt="See nearby lawyers' real-time availability">
                <p>See nearby lawyers' real-time availability</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home03.760bb7b3.svg" alt="Read verified reviews from real clients">
                <p>Read verified reviews from real clients</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home02.f52d911b.svg" alt="Find the right lawyer for your legal needs">
                <p>Find the right lawyer for your legal needs</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home04.6b81790d.svg" alt="Book instantly! And choose the best time for you">
                <p>Book instantly! And choose the best time for you</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home05.b2e5c3b4.svg" alt="Collaborate with your lawyer from any mobile device">
                <p>Collaborate with your lawyer from any mobile device</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home06.a05b175e.svg" alt="Securely view and share documents with your lawyer">
                <p>Securely view and share documents with your lawyer</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home07.f62f012b.svg" alt="Upload, sign and comment on legal documents from anywhere">
                <p>Upload, sign and comment on legal documents from anywhere</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home08.7d81d90b.svg" alt="Access trust ledgers, view invoices and pay bills, all in one place">
                <p>Access trust ledgers, view invoices and pay bills, all in one place</p>
            </div>
        </div>
    </div>
</section>

<!-- Clinic and Specialities -->
<section id="features" class="padd-section text-center">

    <div class="container">
        <div class="section-title text-center">
            <h2>Популярни сфери в правото</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3" @onclick="@(() => OnClick("авторско право"))">
                <div class="feature-block">
                    <img src="/images/AP.jpg" alt="img">
                    <h4>Авторско право</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>creative design</h4>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Retina Ready</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>easy to use</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Free Updates</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Free Updates</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>App store support</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Perfect Pixel</h4>

                </div>
            </div>

        </div>
    </div>
</section><!-- End Features Section -->
<!-- Clinic and Specialities --><!-- Popular Section -->
<section class="section section-doctor">
    
   <div class="container-fluid">

			<div class="row justify-content-center align-items-center">

				<div class="col-md-5 col-lg-4">
					<h5>За лекари</h5>
					<h2><a href="/submitapplication">Станете супердоктор!</a></h2>
					<p class="lead">Superdoc.bg Ви помага да спестите време и да намерете нови пациенти!</p>
					<a href="/submitapplication" class="btn btn-primary btn-lg">Научете повече</a>
				</div>
				<div class="d-none d-md-block col-md-3 col-lg-3 offset-md-2 text-center">
					<img class="img-fluid" src="/images/justice.png">
				</div>

			</div>

		</div>
</section>
<!-- /Popular Section -->
<section id="features" class="padd-section text-center">

    <div class="container">
        <div class="section-title text-center">
            <h2>Популярни сфери в правото</h2>
        </div>

        <div class="row">

           

        </div>
    </div>
</section>
<style>
    .home-layer #home-search #search-doctor {
        display: block;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }


    :after, :before {
        box-sizing: border-box;
    }


    .home-layer {
        padding-top: 0;
    }


    .layer {
        padding-top: 80px;
        padding-bottom: 80px;
    }


    :after, :before {
        box-sizing: border-box;
    }


    .footer, .header, .home-layer, .layer {
        max-width: 1680px;
        margin: 0 auto;
    }
    /* Features Section
                                            --------------------------------*/
    /*#features {
                                            display: inline-block;
                                            height: 100%;
                                            width: 100%;
                                            }*/
    #features .feature-block {
        background: #fff none repeat scroll 0 0;
        padding: 30px 20px;
        margin-bottom: 30px;
        transition: all 0.5s ease-in-out 0s;
    }


        #features .feature-block img {
            height: 60px;
            margin-bottom: 30px;
            width: 60px;
        }


        #features .feature-block:hover {
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
            transition: all 0.5s ease-in-out 0s;
        }


        #features .feature-block h4 {
            margin-bottom: 20px;
        }


        #features .feature-block p {
            margin-bottom: 0;
        }


    .padd-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .homepage-col {
    margin: 1.5em 0 0;
}
</style>

@code {

    private IEnumerable<TownViewModel>? towns;
    string? townName;
    string? areaName;

    private IEnumerable<AreasOfActivityViewModel>? areas;
    int currentCount = 0;
    bool firstRender = true;

   

    protected override async Task OnInitializedAsync()
    {


        var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            towns = await client.GetFromJsonAsync<IEnumerable<TownViewModel>>("Index");
            areas = await client.GetFromJsonAsync<IEnumerable<AreasOfActivityViewModel>>("Index/GetAreas");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        base.OnInitialized();

    }
    private void OnClick(string name)
    {
        this.NavigationManager.NavigateTo($"lawyers/{name}");

    }
    private void HandleValidSubmit()
    {
        //this.NavigationManager.NavigateTo($"lawyers/{townId}");
        // Process the valid form
    }
    void OnChange(object value, string name)
    {
        var town = towns.FirstOrDefault(t => t.Name == value?.ToString());
        if (town != null)
        {
            townName = town.Name;
        }

    }
    void OnChangeArea(object value, string name)
    {
        var area = areas.FirstOrDefault(a => a.Name == value?.ToString());
        areaName = area.Name;
    }
    void Submit()
    {
        if (townName == null && areaName != null)
        {
            this.NavigationManager.NavigateTo($"lawyers/{areaName}");
        }
        else
        {
            this.NavigationManager.NavigateTo($"lawyers/{townName}/{areaName}");
        }

    }
    void Navigate()
    {

        this.NavigationManager.NavigateTo($"/submitapplication");

    }
    void OnChanges(object value, string name)
    {
        
    }
}