@page "/"
@using LaweyrServices.Web.Shared.AministrationViewModels
@using LaweyrServices.Web.Shared.AreasOfActivityViewModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IHttpClientFactory ClientFactory

<PageTitle>Index</PageTitle>
@*<div class="layer home-layer">
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-xl-4">
    <h1>Намерете адвокат и резервирайте час за консултация онлайн!</h1>
    <div id="search-doctor">
    <h4>Търси адвокат</h4>
    <div>
    <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете град" Class="w-100"
    Data=@(towns.Select(c => c.Name).Distinct())
    Change=@(args => OnChange(args, "DropDown")) />
    <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете сфера на дейност" Class="w-100"
    Data=@(areas.Select(c => c.Name).Distinct())
    Change=@(args => OnChangeArea(args, "DropDown")) />
    </div>
    <button type="button" @onclick="Submit" class="btn btn-outline-primary btn-sm">Primary</button>
    </div>
    </div>
    <div class="col-md-6">
    <div class="row justify-content-end">
    <div class="col-xl-6">
    <div class="home-hero">
    <img class="img-fluid" src="/images/justice.png" asp-append-version="true">
    </div>
    </div>
    <div class="col-xl-5">
    <div class="home-description">
    <h2 class="heading-4">Какво е Супердок?</h2>
    <p>
    Супердок Ви помага да намерите различни специалисти, да прочетете мнения на други пациенти и да резервирате час за преглед онлайн – в удобно за Вас време и място.
    <a href="https://superdoc.bg/za-nas">Научи повече</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <section id="features" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
    <div class="section-title text-center">
    <h2>Популярни сфери в правото</h2>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="100">
    <div class="col-md-6 col-lg-3" @onclick="@(() => OnClick("авторско право"))">
    <div class="feature-block">
    <img src="/images/AP.jpg" alt="img">
    <h4>Авторско право</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>creative design</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>Retina Ready</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>easy to use</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>Free Updates</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>Free Updates</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>App store support</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>Perfect Pixel</h4>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="feature-block">
    <img src="/images/asp.jpg" alt="img">
    <h4>clean codes</h4>
    </div>
    </div>
    </div>
    </div>
    </section><!-- End Features Section -->
    <section class="layer">
    <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
    <div class="col-md-5 col-lg-4">
    <h5>За лекари</h5>
    <h2><a href="" @onclick="@Navigate" @onclick:preventDefault>Станете супердоктор!</a></h2>
    <p class="lead">Superdoc.bg Ви помага да спестите време и да намерете нови пациенти!</p>
    <a href="" @onclick="@Navigate" @onclick:preventDefault class="btn btn-primary btn-lg">Научете повече</a>
    </div>
    <div class="d-none d-md-block col-md-3 col-lg-3 offset-md-2 text-center">
    <img class="img-fluid" src="/images/lawyer-1.png">
    </div>
    </div>
    </div>
    </section>*@

<!-- Home Banner -->
<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Намерете своя адвокат. Свържете се онлайн.</h1>
                <p>Адвокати е единственото място за лесно търсене на вашия перфектен адвокат и незабавно резервиране с него онлайн.</p>
            </div>

            <!-- Search -->
            <div class="search-box">
                <form action="templateshub.net">
                    <div class="form-group search-location">
                        <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете град" Class="w-100"
                                        Data=@(towns?.Select(c => c.Name).Distinct())
                                        Change=@(args => OnChange(args, "DropDown")) Style="cursor:pointer" />
                        <span class="form-text">Based on your Location</span>
                    </div>
                    <div class="form-group search-info">
                        <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете сфера на дейност" Class="w-100"
                                        Data=@(areas?.Select(c => c.Name).Distinct())
                                        Change=@(args => OnChangeArea(args, "DropDown")) Style="cursor:pointer" />
                        <span class="form-text">Ex : Dental or Sugar Check up etc</span>
                    </div>
                    <button type="button" class="btn btn-primary search-btn" @onclick="Submit"><i class="oi oi-aperture"></i> <span>Търси</span></button>
                </form>
            </div>
            <!-- /Search -->

        </div>
    </div>
</section>
<!-- /Home Banner -->
<!-- Clinic and Specialities -->
<section id="features" class="padd-section text-center">

    <div class="container">
        <div class="section-title text-center">
            <h2>Популярни сфери в правото</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3" @onclick="@(() => OnClick("авторско право"))">
                <div class="feature-block">
                    <img src="/images/AP.jpg" alt="img">
                    <h4>Авторско право</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>creative design</h4>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Retina Ready</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>easy to use</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Free Updates</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Free Updates</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>App store support</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Perfect Pixel</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>clean codes</h4>

                </div>
            </div>

        </div>
    </div>
</section><!-- End Features Section -->
<!-- Clinic and Specialities --><!-- Popular Section -->
<section class="section section-doctor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header ">
                    <h2>Book Our Doctor</h2>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
                <div class="about-content">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                    <p>web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
                    <a href="javascript:;">Read More..</a>
                </div>
            </div>
            <div class="col-lg-8">
                 <div class="section-header ">
                    <h2>How to Find a Lawyer?</h2>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
                <div class="about-content">
                    <p>You can quickly search and find a lawyer (or a registered migration agent, notary public or licensed conveyancer) by location so that you can speak with or meet a lawyer who is close to your home or work.</p>
                    <p>You can also search by area of law so that you can get the right legal advice for your circumstances - from Business Law to Family Law and Personal Injury.</p>
                     <p>Once you've found a lawyer, you can instantly book online with an available lawyer who has verified client reviews so that you can make an informed choice.</p>
                     <p>Plus email and SMS booking confirmation and reminders are all included, so you have your appointment information at your fingertips.</p>
                    <a href="">Read More..</a>
                </div>

              
            </div>
        </div>
    </div>
</section>
<!-- /Popular Section -->
<!-- Availabe Features -->
<section class="section section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 features-img">
                <img src="assets/img/features/feature.png" class="img-fluid" alt="Feature">
            </div>
            <div class="col-md-7">
                <div class="section-header">
                    <h2 class="mt-2">Availabe Features in Our Clinic</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
                <div class="features-slider slider">
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="assets/img/features/feature-01.jpg" class="img-fluid" alt="Feature">
                        <p>Patient Ward</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="assets/img/features/feature-02.jpg" class="img-fluid" alt="Feature">
                        <p>Test Room</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="assets/img/features/feature-03.jpg" class="img-fluid" alt="Feature">
                        <p>ICU</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="assets/img/features/feature-04.jpg" class="img-fluid" alt="Feature">
                        <p>Laboratory</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="assets/img/features/feature-05.jpg" class="img-fluid" alt="Feature">
                        <p>Operation</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="assets/img/features/feature-06.jpg" class="img-fluid" alt="Feature">
                        <p>Medical</p>
                    </div>
                    <!-- /Slider Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .home-layer #home-search #search-doctor {
        display: block;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    :after, :before {
        box-sizing: border-box;
    }
    .home-layer {
        padding-top: 0;
    }
    .layer {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    :after, :before {
        box-sizing: border-box;
    }
    .footer, .header, .home-layer, .layer {
        max-width: 1680px;
        margin: 0 auto;
    }
    /* Features Section
                    --------------------------------*/
    /*#features {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    }*/
    #features .feature-block {
        background: #fff none repeat scroll 0 0;
        padding: 30px 20px;
        margin-bottom: 30px;
        transition: all 0.5s ease-in-out 0s;
    }
        #features .feature-block img {
            height: 60px;
            margin-bottom: 30px;
            width: 60px;
        }
        #features .feature-block:hover {
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
            transition: all 0.5s ease-in-out 0s;
        }
        #features .feature-block h4 {
            margin-bottom: 20px;
        }
        #features .feature-block p {
            margin-bottom: 0;
        }
    .padd-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }
</style>
@code {

    private IEnumerable<TownViewModel>? towns;
    string? townName;
    string? areaName;

    private IEnumerable<AreasOfActivityViewModel>? areas;

    protected  override async Task OnInitializedAsync()
    {
         var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            towns =  await  client.GetFromJsonAsync<IEnumerable<TownViewModel>>("Index");
            areas = await client.GetFromJsonAsync<IEnumerable<AreasOfActivityViewModel>>("Index/GetAreas");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        base.OnInitialized();
        
    }
    private void OnClick(string name)
    {
        this.NavigationManager.NavigateTo($"lawyers/{name}");

    }
    private void HandleValidSubmit()
    {
        //this.NavigationManager.NavigateTo($"lawyers/{townId}");
        // Process the valid form
    }
    void OnChange(object value, string name)
    {
        var town = towns.FirstOrDefault(t => t.Name == value?.ToString());
        if (town != null)
        {
            townName = town.Name;
        }

    }
    void OnChangeArea(object value, string name)
    {
        var area = areas.FirstOrDefault(a => a.Name == value?.ToString());
        areaName = area.Name;
    }
    void Submit()
    {
        if (townName == null && areaName != null)
        {
            this.NavigationManager.NavigateTo($"lawyers/{areaName}");
        }
        else
        {
            this.NavigationManager.NavigateTo($"lawyers/{townName}/{areaName}");
        }

    }
    void Navigate()
    {

        this.NavigationManager.NavigateTo($"/submitapplication");

    }
}