@page "/"
@using LaweyrServices.Web.Shared.AministrationViewModels
@using LaweyrServices.Web.Shared.AreasOfActivityViewModels
@using LaweyrServices.Web.Shared.IndexViewModels
@using LaweyrServices.Web.Shared.NotaryModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JsRuntime
<PageTitle>Index</PageTitle>

<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Намерете своя адвокат. Свържете се онлайн.</h1>
                <p>Адвокати е единственото място за лесно търсене на вашия перфектен адвокат и незабавно резервиране с него онлайн.</p>
            </div>
            @if (firstRender)
            {
                <div class="search-box">
                    <form>
                        <div class="form-group search-location">
                            <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете град" Class="form-control"
                                        Data=@(indexModel?.Towns.Select(c => c.Name).Distinct())
                                        Change=@(args => OnChange(args, "DropDown")) Style="cursor:pointer; border-color:black" />
                        </div>
                        <div class="form-group search-info">
                            <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете сфера на дейност" Class="form-control"
                                        Data=@(indexModel?.Areas.Select(c => c.Name).Distinct())
                                        Change=@(args => OnChangeArea(args, "DropDown")) Style="cursor:pointer; border-color:black" />
                        </div>
                        <button type="submit" class="btn btn-dark search-btn " style="margin-top:30px;" @onclick="Submit"><i class="fas fa-search"></i> <span>Търси</span></button>

                    </form>
                </div>
                <a href="" class="colored" aria-label="Търсите нотаиус ?" @onclick:preventDefault @onclick="SetTrue">Търсите нотариус ?</a>
            }
            else
            {
                <div class="search-box">
                    <form>
                        <div class="form-group search-location">
                            <RadzenDropDown AllowClear="true" TValue="string" Placeholder="Изберете град" Class="form-control"
                                        Data=@(indexModel?.Towns.Select(c => c.Name).Distinct())
                                        Change=@(args => OnChangeNotaryTown(args, "DropDown")) Style="cursor:pointer; border-color:black" />
                        </div>
                        <div class="form-group search-info">
                            <RadzenAutoComplete FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Търсете по име" Data=@indexModel?.AllNotarys TextProperty="Names" Change=@(args => OnSearchNotary(args, "AutoComplete")) Style="width: 100%; border-color:black; background: white; height:45px" />
                        </div>
                        <button type="submit" class="btn btn-dark search-btn " style="margin-top:30px;" @onclick="SubmitNotary"><i class="fas fa-search"></i> <span>Търси</span></button>

                    </form>
                </div>
                <a href="" class="colored" aria-label="Търсите Адвокат ?" @onclick:preventDefault @onclick="Set">Търсите Адвокат ?</a>

            }
        </div>
    </div>
</section>
<!-- /Home Banner -->
<section class="section section-doctor">
    <div class="container text-center">
        <h2>Как работи Правен портал?</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="/images/search.svg" alt="See nearby lawyers' real-time availability" width="48" height="48">
                <p>Вижте наличните адвокати около вас в реално време</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home03.760bb7b3.svg" alt="Read verified reviews from real clients">
                <p>Прочетете проверени отзиви от реални клиенти</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="/images/people.svg" alt="Find the right lawyer for your legal needs" width="48" height="48">
                <p>Намерете точния адвокат за вашите правни нужди</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="/images/calendar.svg" alt="Book instantly! And choose the best time for you" width="48" height="48">
                <p>Резервирайте незабавно! И изберете най-доброто време за вас</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="/images/collaborate.svg" alt="Collaborate with your lawyer from any mobile device" width="48" height="48">
                <p>Сътрудничете с вашия адвокат от всяко мобилно устройство</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home06.a05b175e.svg" alt="Securely view and share documents with your lawyer">
                <p>Securely view and share documents with your lawyer</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home07.f62f012b.svg" alt="Upload, sign and comment on legal documents from anywhere">
                <p>Upload, sign and comment on legal documents from anywhere</p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 homepage-col">
                <img src="https://cdn.lawconnect.com/img/icon_home08.7d81d90b.svg" alt="Access trust ledgers, view invoices and pay bills, all in one place">
                <p>Access trust ledgers, view invoices and pay bills, all in one place</p>
            </div>
        </div>
    </div>
</section>

<!-- Clinic and Specialities -->
<section id="features" class="padd-section text-center">

    <div class="container">
        <div class="section-title text-center">
            <h2>Популярни сфери в правото</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3" @onclick="@(() => OnClick("авторско право"))">
                <div class="feature-block">
                    <img src="/images/AP.jpg" alt="img">
                    <h4>Авторско право</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>creative design</h4>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Retina Ready</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>easy to use</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Free Updates</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Free Updates</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>App store support</h4>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="/images/asp.jpg" alt="img">
                    <h4>Perfect Pixel</h4>

                </div>
            </div>

        </div>
    </div>
</section><!-- End Features Section -->
<!-- Clinic and Specialities --><!-- Popular Section -->
<section class="section section-doctor">

    <div class="container-fluid">

        <div class="row justify-content-center align-items-center">

            <div class="col-md-5 col-lg-4">
                <h5>За Адвокати</h5>
                <h2><a href="/submitapplication">Станете суперадвокат!</a></h2>
                <p class="lead">Superlawyer.bg Ви помага да спестите време и да намерете нови клиенти!</p>
                <a href="/submitapplication" class="btn btn-primary btn-lg">Научете повече</a>
            </div>
            <div class="d-none d-md-block col-md-3 col-lg-3 offset-md-2 text-center">
                <img class="img-fluid" src="/images/justice.png">
            </div>

        </div>

    </div>
</section>
<!-- /Popular Section -->
<section id="features" class="padd-section gradientsection  text-center">

    <div class="container">
        <div class="section-title text-center">
            <h2 class="colored">Намерете адвокатска кантора по име</h2>

            <p class="mb-4 colored">Започнете да пишете напр. Кантора</p>
            <RadzenAutoComplete FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@indexModel?.LawFirms TextProperty="Name" Change=@(args => OnSearchLawFirm(args, "AutoComplete")) Style="width: 70%;" />

        </div>

        <div class="row">
        </div>
    </div>
</section>
<section class="section section-doctor">

    <div class="container-fluid">

        <div class="row justify-content-center align-items-center">

            <div class="col-sm-7 col-xs-12 homepage-textsection">
                <h2>Кога да намерим адвокат?</h2>
                <p>Ще трябва да намерите адвокат за важни събития от живота, включително:</p>
                <ul>
                    <li style="list-style:none;">
                        <span> 
                            <img class="manImg" src="images/calendar1.png">
                        </span>
                        Resolving a <a href="https://lawconnect.com/au/lawyers/divorce-separation?timezone=Europe/Kiev">messy divorce</a> or other <a href="https://lawconnect.com/au/lawyers/family-law?timezone=Europe/Kiev">family law matters</a>, including binding financial agreements, separation, custody of children and property settlement, with a <a href="https://lawconnect.com/au/lawyers/family-law?timezone=Europe/Kiev">family lawyer</a>.
                    </li>
                    <li>
                        <span class="home-icon home-icon-criminal"></span>
                        <a href="https://lawconnect.com/au/lawyers/criminal-law?timezone=Europe/Kiev">Defending a criminal charge</a> or <a href="https://lawconnect.com/au/lawyers/traffic-law?timezone=Europe/Kiev">traffic charge</a> from the police in court with a <a href="https://lawconnect.com/au/lawyers/criminal-law?timezone=Europe/Kiev">criminal lawyer</a> or <a href="https://lawconnect.com/au/lawyers/criminal-law?timezone=Europe/Kiev">traffic lawyer</a>.
                    </li>
                    <li>
                        <span class="home-icon home-icon-will"></span>
                        Making a Will and power of attorney to give you and your family peace of mind with the help of a <a href="https://lawconnect.com/au/lawyers/wills-estate-planning-probate?timezone=Europe/Kiev">wills and estate planning lawyer</a>.
                    </li>
                    <li>
                        <span class="home-icon home-icon-property"></span>
                        Buying or selling a home or investment property with the help of a <a href="https://lawconnect.com/au/lawyers/property-law?timezone=Europe/Kiev">property lawyer</a>.
                    </li>
                    <li>
                        <span class="home-icon home-icon-business"></span>
                        Starting, running, buying or selling a business with the help of a <a href="https://lawconnect.com/au/lawyers/business-law?timezone=Europe/Kiev">business lawyer</a>.
                    </li>
                    <li>
                        <span class="home-icon home-icon-immigration"></span>
                        Getting Australian citizenship or a visa to live, work or study in Australia with the help of an <a href="https://lawconnect.com/au/lawyers/immigration-law?timezone=Europe/Kiev">immigration lawyer</a>.
                    </li>
                    <li>
                        <span class="home-icon home-icon-injury"></span>
                        Making a personal injury compensation claim after a serious accident with the help of a <a href="https://lawconnect.com/au/lawyers/personal-injury-law?timezone=Europe/Kiev">personal injury lawyer</a>.
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 col-xs-12 homepage-textsection">
                <h2>Как да намеря адвокат?</h2>
                <p>Можете бързо да търсите и <a href="https://lawconnect.com/au/lawyers?timezone=Europe/Kiev">намерите адвокат</a>, или <a href="https://lawconnect.com/au/lawyers/notary-public?timezone=Europe/Kiev">нотариус</a> или) по местоположение, за да можете да говорите или да се срещнете с адвокат, който е близо до вашия дом или работа.</p>
                <p>
                    Можете също да търсите по област на правото, за да получите точния правен съвет за вашите обстоятелства - от <a href="https://lawconnect.com/au/lawyers/business-law?timezone=Europe/Kiev">
                        Бизнес право
                    </a> to <a href="https://lawconnect.com/au/lawyers/family-law?timezone=Europe/Kiev">
                        Семеен закон
                    </a> and <a href="https://lawconnect.com/au/lawyers/personal-injury-law?timezone=Europe/Kiev">Лични наранявания</a>.
                </p>
                <p>
                    След като намерите адвокат, можете незабавно да резервирате онлайн с наличен адвокат, който е проверил клиентски отзиви, за да можете да направите информиран избор.
                </p>
                <p>Плюс потвърждението за резервация по имейл и SMS и напомнянията са включени, така че информацията за срещата ви е на една ръка разстояние.</p>
            </div>
        </div>

    </div>
</section>
<style>
    .manImg{
          background-size: 810px 90px;
    display: block;
    height: 90px;
    width: 90px;
    }
    .home-layer #home-search #search-doctor {
        display: block;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .colored {
        color: #FFFDFA !important;
        text-decoration: none;
        background-color: transparent;
        font-size: 1.1em;
    }

    :after, :before {
        box-sizing: border-box;
    }


    .home-layer {
        padding-top: 0;
    }


    .layer {
        padding-top: 80px;
        padding-bottom: 80px;
    }


    :after, :before {
        box-sizing: border-box;
    }


    .footer, .header, .home-layer, .layer {
        max-width: 1680px;
        margin: 0 auto;
    }

    #features .feature-block {
        background: #fff none repeat scroll 0 0;
        padding: 30px 20px;
        margin-bottom: 30px;
        transition: all 0.5s ease-in-out 0s;
    }


        #features .feature-block img {
            height: 60px;
            margin-bottom: 30px;
            width: 60px;
        }


        #features .feature-block:hover {
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
            transition: all 0.5s ease-in-out 0s;
        }


        #features .feature-block h4 {
            margin-bottom: 20px;
        }


        #features .feature-block p {
            margin-bottom: 0;
        }


    .padd-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .gradientsection {
        background-color: #045de9;
        @*background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);*@
    }

    .homepage-col {
        margin: 1.5em 0 0;
    }

  
</style>

@code {

    string? townName;
    string? areaName;
    IndexViewModel? indexModel;

    [Parameter]
    public bool firstRender { get; set; } = true;

    private IEnumerable<NotaryIndexViewModel>? AllNotarys;

    string? value;

    protected override async Task OnInitializedAsync()
    {
        //                       #if DEBUG
        //    await Task.Delay(10000);
        //#endif
        var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            indexModel = await client.GetFromJsonAsync<IndexViewModel>("Index");
            AllNotarys = indexModel.AllNotarys;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        await base.OnInitializedAsync();

    }
    private void OnClick(string name)
    {
        this.NavigationManager.NavigateTo($"lawyers/{name}");

    }
    private void HandleValidSubmit()
    {
        //this.NavigationManager.NavigateTo($"lawyers/{townId}");
        // Process the valid form
    }
    void OnChange(object value, string name)
    {
        var town = indexModel.Towns.FirstOrDefault(t => t.Name == value?.ToString());
        if (town != null)
        {
            townName = town.Name;
        }

    }
    void OnChangeArea(object value, string name)
    {
        var area = indexModel.Areas.FirstOrDefault(a => a.Name == value?.ToString());
        areaName = area.Name;
    }
    void SubmitNotary()
    {
        this.NavigationManager.NavigateTo($"notary/{townName}");
    }
    void Submit()
    {
        if (townName == null && areaName != null)
        {
            this.NavigationManager.NavigateTo($"lawyers/{areaName}");
        }
        else
        {
            this.NavigationManager.NavigateTo($"lawyers/{townName}/{areaName}");
        }

    }
    void Navigate()
    {

        this.NavigationManager.NavigateTo($"/submitapplication");

    }
    void OnSearchLawFirm(object value, string name)
    {
        var exist = indexModel.LawFirms.FirstOrDefault(x => x.Name.ToLower() == value.ToString().ToLower());
        if (exist != null)
        {
            this.NavigationManager.NavigateTo($"law-firm/{exist.Id}");
        }

    }
    void OnSearchNotary(object value, string name)
    {
        var exist = AllNotarys.FirstOrDefault(x => x.Names.ToLower() == value.ToString().ToLower());
        if (exist != null)
        {
            this.NavigationManager.NavigateTo($"notary-office/{exist.Id}");
        }
    }
    void OnChangeNotaryTown(object value, string name)
    {
        var town = indexModel.Towns.FirstOrDefault(t => t.Name == value?.ToString());
        if (town != null)
        {
            indexModel.AllNotarys = AllNotarys.Where(x => x.TownId == town.Id);
            townName = town.Name;
        }

    }
    void Set()
    {
        firstRender = true;
        StateHasChanged();
    }
    void SetTrue()
    {
        firstRender = false;
        StateHasChanged();
    }
}