@page "/law-firm/{Id}"
@using LaweyrServices.Web.Shared.LawFirmModels
@using LaweyrServices.Web.Shared.LawyerViewModels
@using LaweyrServices.Web.Shared.WorkingTimeModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IHttpClientFactory ClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider



<div class="content">
    <div class="container-fluid">

        <!-- Doctor Widget -->

        <div class="card-body">
            <div class="doctor-widget">
                <div class="doc-info-left">
                    <div class="doctor-img">
                        <img src="@response?.ImgUrl" class="img-fluid" alt="@response?.Name">
                    </div>
                    <div class="doc-info-cont">
                        <h1>@response?.Name</h1>
                        <p class="doc-location"><i class="fas fa-map-marker-alt"> </i> @response?.TownName/ @response?.Address <a href=@($"https://www.google.com/maps/place/{response?.TownName} {response?.Address}") target="blank"> намери адрес</a></p>
                        <h3>За @response?.Name</h3>
                       
                        <p>@response?.About</p>
                        <div class="doctor-action">
                            @if (response?.LinkedinUrl != null)
                            {
                                <a href="@response?.LinkedinUrl" target="_blank" class="btn btn-white msg-btn">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            }
                            @if (response?.FacebookUrl != null)
                           {
                                <a href="@response?.FacebookUrl" target="_blank" class="btn btn-white msg-btn">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                           }
                           @if (response?.IsPublicPhoneNuber != null)
                           {
                                <a href="tel:@response?.PhoneNumbers?.Split(" ").ToList().First()" class="btn btn-white msg-btn">
                                <i class="fa fa-phone"></i>
                            </a>
                           }
                           @if (response?.WebSiteUrl != null)
                           {
                               <a href="@response?.WebSiteUrl" class="btn btn-white call-btn" target="_blank">
                                <i class="fa fa-globe"></i>
                            </a> 
                           }
                           
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        @if (response?.Areas == null)
        {
            <p>loading</p>
        }
        else
        {
             <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4>Кантората има опит в областите:</h4>
                            <div class="clinic-service">
                                @foreach (var item in response.Areas)
                                {

                                    <span style="margin-right:10px;">@item</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
        }
        <!-- /Doctor Widget -->
        <!-- Doctor Details Tab -->
        @if (response?.Companies == null)
        {
            <p>loading</p>
        }
        else
        {
            @foreach (var lawyer in response.Companies)
            {
               
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img">
                                        <img src="@lawyer?.ImgUrl" class="img-fluid" alt="User Image">
                                    </div>
                                    <div class="doc-info-cont">
                                        <a href="/lawyer/@lawyer?.Id" title="Запази час за консултация при @lawyer?.Names"><h3>@lawyer?.Names</h3></a>
                                        <p class="doc-speciality">Адвокатска кантора @lawyer?.LawFirmName</p>
                                        <div class="rating">
                                            <RadzenRating ReadOnly="true" Stars="5" Value="(int)Math.Round(lawyer.AverageGrade/lawyer.ReviewsCount, MidpointRounding.AwayFromZero)" />
                                            <span class="d-inline-block average-rating countposition">(@lawyer?.ReviewsCount)</span>
                                        </div>
                                        <p>Адвокат</p>


                                        <div class="clinic-details">
                                            <ul class="clinic-gallery" style="list-style: none;">
                                                @if (lawyer?.FreeFirstAppointment == true)
                                                {
                                                    <li style="float: left;"><i class="oi oi-check smallspan" ></i><span class="smallspan"> Безплатна първа консултация</span></li>
                                                }
                                                @if (lawyer?.MeetingClientLocation == true)
                                                {
                                                    <li class="lawdetails" style="float: left;"><i class="oi oi-check smallspan"></i><span class="smallspan"> Посещение в офис на клиента</span></li>
                                                }
                                                 @if (lawyer?.NoWinNoFee == true)
                                                {
                                                    <li class="lawdetails" style="float: left;"><i class="oi oi-check smallspan"></i><span class="smallspan"> Без Победа Без цена</span></li>
                                                }
                                                @if (lawyer?.FixedCost == true)
                                                {
                                                    <li class="lawdetails" style="float: left;"><i class="oi oi-check smallspan"></i><span class="smallspan"> Фиксирана цена</span></li>
                                                }
                                               
                                                
                                            </ul>

                                        </div>

                                    </div>
                                </div>
                               <div class="doc-info-right">
                                        <div class="clini-infos">
                                            <ul>
                                                @if (lawyer.EarlyTime == null)
                                                {
                                                     <li><i class="oi oi-calendar"></i>Няма свободни часове</li>
                                                }
                                                else
                                                {
                                                     <li><i class="oi oi-calendar"></i>@lawyer?.EarlyTime</li>
                                                }
                                                @if (lawyer.WebSite != null)
                                                {
                                                     <li onclick="window.open('@lawyer?.WebSite', '_blank')"  style="cursor:pointer;"><i class="oi oi-globe"></i> Уеб сайт</li>
                                                }
                                               
                                                <li><i class="oi oi-thumb-up"></i> @lawyer?.ReviewsCount отзива</li>
                                                <li><i class="oi oi-map-marker"></i>@lawyer?.TownName/ @lawyer?.Address</li>
                                            </ul>
                                        </div>
                                        <div class="clinic-booking">
                                            <div class="text-center">
                                                <button class="button button-border-d button-round button-block" onclick="location.href='/lawyer/@lawyer?.Id'" title="Запази час за консултация при @lawyer?.Names" type="button">запази час</button>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>


                </div>

            }

        }

    </div>
</div>


<style>
    .rz-rating .rzi-star {
        color: #fc0;
    }
      .countposition {
        vertical-align: super;
    }
    .button.button-round {
        border-radius: 2px;
    }

    .button-border-d {
        background: transparent;
        border: 1px solid #111111;
        color: #111;
    }

    .button {
        border-radius: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 8px 37px;
    }

        .button.button-border-d:hover,
        .button.button-border-d:focus {
            background: #111111;
            color: #fff;
        }

    .button-block {
        display: block;
        width: 100%;
    }

   
    .smallspan {
    font-size: 80%;
        color: #00900e;
}

    .clinic-service span {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: inline-block;
        font-size: 12px;
        padding: 3px 10px;
    }

    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .doctor-img {
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
        width: 250px;
    }

        .doctor-img img {
            border-radius: 5px;
        }

    .rz-view-header .rz-slot-hour-header {
        flex: none;
        width: 25px;
    }

    .rz-event-content {
        cursor: pointer;
    }
</style>


@code {

    [Parameter]
    public string? Id { get; set; }

    private LawFirmViewModel? response;

    protected override async Task OnInitializedAsync()
    {
        //                 #if DEBUG
        //    await Task.Delay(10000);
        //#endif



        var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            response = await client.GetFromJsonAsync<LawFirmViewModel>($"LawFirm?lawFirmId={Id}");
            //areas = await client.GetFromJsonAsync<IEnumerable<AreasOfActivityViewModel>>("Index/GetAreas");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            this.NavigationManager.NavigateTo("/notfound");
            exception.Redirect();
        }

    }
    void OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<WorkingTimeExceptionViewModel> args)
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (!authState.Result.User.Identity.IsAuthenticated)
        {
            this.NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
        else
        {
            var wteId = args.Data.Id;
            var lawyer = response.Companies.Where(x => x.WorkingTime.WorkingTimeExceptions.Any(x => x.Id == wteId)).FirstOrDefault();
            this.NavigationManager.NavigateTo($"/booking/{lawyer.Id}/{args.Data.Id}");
        }

    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<WorkingTimeExceptionViewModel> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop

        args.Attributes["style"] = "text-align: center;";

        //if (args.Data.Text == GlobalConstants.Meeting)
        //{
        //;
        //}
    }
}
