@page "/law-firm/{Id}"
@using LaweyrServices.Web.Shared.LawFirmModels
@using LaweyrServices.Web.Shared.LawyerViewModels
@using LaweyrServices.Web.Shared.WorkingTimeModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IHttpClientFactory ClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider



<div class="content">
    <div class="container-fluid">

        <!-- Doctor Widget -->

        <div class="card-body">
            <div class="doctor-widget">
                <div class="doc-info-left">
                    <div class="doctor-img">
                        <img src="@response?.ImgUrl" class="img-fluid" alt="@response?.Name">
                    </div>
                    <div class="doc-info-cont">
                        <h1>@response?.Name</h1>
                        @*<div class="rating">
                            <RadzenRating ReadOnly="true" Stars="5" Value="4" />
                            <span class="d-inline-block average-rating">(17)</span>
                            <h3 class="doc-location"><i class="oi oi-map-marker"></i> @response?.Address    <a href="javascript:void(0);">Get Directions</a></h3>
                            </div>*@
                        <p class="doc-location"><i class="fas fa-map-marker-alt"> </i> @response?.TownName/ @response?.Address <a href=@($"https://www.google.com/maps/place/{response?.TownName} {response?.Address}") target="blank"> намери адрес</a></p>
                        <h3>За @response?.Name</h3>
                        @*<p class="doc-speciality">dasasdsad</p>*@
                        <p>@response?.About</p>
                        <div class="doctor-action">

                            <a href="chat.html" class="btn btn-white msg-btn">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="chat.html" class="btn btn-white msg-btn">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="chat.html" class="btn btn-white msg-btn">
                                <i class="fa fa-phone"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
                                <i class="fa fa-globe"></i>
                            </a>

                        </div>
                        @* <div class="clinic-details">
                            <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA - <a href="javascript:void(0);">Get Directions</a></p>
                            <ul class="clinic-gallery">

                            </ul>
                            </div>*@

                    </div>
                </div>

            </div>
        </div>
        @if (response?.Areas == null)
        {
            <p>loading</p>
        }
        else
        {
             <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4>Кантората има опит в областите:</h4>
                            <div class="clinic-service">
                                @foreach (var item in response.Areas)
                                {

                                    <span style="margin-right:10px;">@item</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
        }
        <!-- /Doctor Widget -->
        <!-- Doctor Details Tab -->
        @if (response?.Companies == null)
        {
            <p>loading</p>
        }
        else
        {
            @foreach (var lawyer in response.Companies)
            {
               
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img">
                                        <img src="@lawyer?.ImgUrl" class="img-fluid" alt="User Image">
                                    </div>
                                    <div class="doc-info-cont">
                                        <a href="/lawyer/@lawyer?.Id" title="Запази час за консултация при @lawyer?.Names"><h3>@lawyer?.Names</h3></a>
                                        <p class="doc-speciality">Адвокатска кантора @lawyer?.LawFirmName</p>
                                        <div class="rating">
                                            <RadzenRating ReadOnly="true" Stars="5" Value="4" />
                                            <span class="d-inline-block average-rating">(17)</span>
                                        </div>
                                        <p>Адвокат</p>


                                        <div class="clinic-details">
                                            <ul class="clinic-gallery" style="list-style: none;">
                                                @if (lawyer?.FreeFirstAppointment == true)
                                                {
                                                    <li style="float: left;"><i class="oi oi-check smallspan" ></i><span class="smallspan"> Безплатна първа консултация</span></li>
                                                }
                                                @if (lawyer?.MeetingClientLocation == true)
                                                {
                                                    <li class="lawdetails" style="float: left;"><i class="oi oi-check smallspan"></i><span class="smallspan"> Посещение в офис на клиента</span></li>
                                                }
                                                 @if (lawyer?.NoWinNoFee == true)
                                                {
                                                    <li class="lawdetails" style="float: left;"><i class="oi oi-check smallspan"></i><span class="smallspan"> Без Победа Без цена</span></li>
                                                }
                                                @if (lawyer?.FixedCost == true)
                                                {
                                                    <li class="lawdetails" style="float: left;"><i class="oi oi-check smallspan"></i><span class="smallspan"> Фиксирана цена</span></li>
                                                }
                                               
                                                
                                            </ul>

                                        </div>

                                    </div>
                                </div>
                                <div class="doc-info-right">
                                    <div class="clini-infos">
                                        <ul>
                                            <a href="mailto:">
                                            <li><i class="far fa-envelope"></i>Изпрати имейл</li></a>
                                            @if (lawyer?.WebSite != null)
                                            {
                                                <a href="@lawyer.WebSite"><li><i class="fas fa-globe"></i>Виж уебсайта</li></a> 
                                            }
                                            @if (lawyer.IsPublicPhoneNuber)
                                            {
                                                <a href="tel:@lawyer?.PhoneNumbers.First()">
                                                <li><i class="fas fa-phone"></i>Обади се</li></a>
                                            }

                                        </ul>
                                    </div>
                                    
                                    <div class="clinic-booking">
                                        <a class="apt-btn" href="/lawyer/@lawyer?.Id" title="Запази час за консултация при @lawyer?.Names">Запази час</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            }

        }


        <!-- /Doctor Details Tab -->
        <RadzenAccordion Multiple="true" class="rz-accordion-content-class" Style="background:none">
            <Items>
                <RadzenAccordionItem Text="Collapsible Group Item #1" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="Collapsible Group Item #2" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="Collapsible Group Item #3" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
            </Items>
        </RadzenAccordion>
    </div>
</div>


<style>
    .smallspan {
    font-size: 80%;
}

    .clinic-service span {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: inline-block;
        font-size: 12px;
        padding: 3px 10px;
    }

    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .doctor-img {
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
        width: 250px;
    }

        .doctor-img img {
            border-radius: 5px;
        }

    .rz-view-header .rz-slot-hour-header {
        flex: none;
        width: 25px;
    }

    .rz-event-content {
        cursor: pointer;
    }
</style>


@code {

    [Parameter]
    public string? Id { get; set; }

    private LawFirmViewModel? response;

    protected override async Task OnInitializedAsync()
    {
        //                 #if DEBUG
        //    await Task.Delay(10000);
        //#endif



        var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            response = await client.GetFromJsonAsync<LawFirmViewModel>($"LawFirm?lawFirmId={Id}");
            //areas = await client.GetFromJsonAsync<IEnumerable<AreasOfActivityViewModel>>("Index/GetAreas");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            this.NavigationManager.NavigateTo("/notfound");
            exception.Redirect();
        }

    }
    void OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<WorkingTimeExceptionViewModel> args)
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (!authState.Result.User.Identity.IsAuthenticated)
        {
            this.NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
        else
        {
            var wteId = args.Data.Id;
            var lawyer = response.Companies.Where(x => x.WorkingTime.WorkingTimeExceptions.Any(x => x.Id == wteId)).FirstOrDefault();
            this.NavigationManager.NavigateTo($"/booking/{lawyer.Id}/{args.Data.Id}");
        }

    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<WorkingTimeExceptionViewModel> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop

        args.Attributes["style"] = "text-align: center;";

        //if (args.Data.Text == GlobalConstants.Meeting)
        //{
        //;
        //}
    }
}
