@page "/lawyer/{LawyerId}"
@using LaweyrServices.Web.Shared.LawyerViewModels
@using LaweyrServices.Web.Shared.WorkingTimeModels


@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject IHttpClientFactory ClientFactory


<div class="content">
    <div class="container-fluid">

        <!-- Doctor Widget -->
        <div class="card">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="doc-info-left">
                        <div class="doctor-img">
                            <img src="@model?.ImgUrl" class="img-fluid" alt="@model?.Names">
                        </div>
                        <div class="doc-info-cont">
                            <h1 >@model?.Names</h1>
                            <p class="doc-speciality">@model?.OfficeName</p>
                            <p >Hayder Shkara is a Lawyer with Justice Family Lawyers in Sydney, NSW 2000. Hayder Shkara has 9 years experience and focuses on Family Law, Children's Law and Divorce & Separation.</p>
                            <div class="rating">
                                <RadzenRating ReadOnly="true" Stars="5" Value="4" />
                                <span class="d-inline-block average-rating">(17)</span>
                            </div>
                            <div class="clinic-details">
                                <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA - <a href="javascript:void(0);">Get Directions</a></p>
                                <ul class="clinic-gallery">
                                    @if (model?.FreeFirstAppointment == true)
                                    {
                                        <li><i class="oi oi-check"></i><span>Безплатна първа консултация</span></li>
                                    }
                                    @if (model?.FixedCost == true)
                                    {
                                        <li><i class="oi oi-check"></i> Фиксирана цена</li>
                                    }
                                    @if (model?.NoWinNoFee == true)
                                {
                                    <li><i class="oi oi-check"></i> Без Победа Без цена</li>
                                }
                                </ul>
                            </div>
                           
                        </div>
                    </div>
                   @* <div class="doc-info-right">
                        <div class="clini-infos">
                            <ul>
                                @if (model?.FreeFirstAppointment == true)
                                {
                                    <li><i class="oi oi-check"></i><span>Безплатна първа консултация</span></li>
                                }
                                @if (model?.FixedCost == true)
                                {
                                    <li><i class="oi oi-check"></i> Фиксирана цена</li>
                                }
                                @if (model?.NoWinNoFee == true)
                                {
                                    <li><i class="oi oi-check"></i> Без Победа Без цена</li>
                                }

                            </ul>
                        </div>
                        <div class="doctor-action">
                            <a href="javascript:void(0)" class="btn btn-white fav-btn">
                                <i class="far fa-bookmark"></i>
                            </a>
                            <a href="chat.html" class="btn btn-white msg-btn">
                                <i class="far fa-comment-alt"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
                                <i class="fas fa-phone"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#video_call">
                                <i class="fas fa-video"></i>
                            </a>
                        </div>
                        <div class="clinic-booking">
                            <a class="apt-btn" href="booking.html">Book Appointment</a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- /Doctor Widget -->
        <!-- Doctor Details Tab -->
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h3>Proffesional opit</h3>
                    <p>
                        @model?.Experience
                    </p>
                </div>
                <div class=row>
                    <h3>Obrazovanie</h3>
                    <p>
                        @model?.Education
                    </p>
                </div>
            </div>



            <div class="col-md-6">
                <RadzenScheduler Data="@wtmodel" TItem="WorkingTimeExceptionViewModel" StartProperty="StarFrom" EndProperty="EndTo" TextProperty="AppointmentType" AppointmentSelect=@OnAppointmentSelect>
                    <RadzenWeekView EndTime=@TimeSpan.FromHours(20) TimeFormat="HH" />
                </RadzenScheduler>

            </div>
        </div>
        <div class="card">
            <div class="card-body pt-0">
            </div>
        </div>
        <!-- /Doctor Details Tab -->

        <RadzenAccordion Multiple="true" Collapse=@(args => Change(args, "Accordion with multiple expand", "collapsed"))
                         Expand=@(args => Change(args, "Accordion with multiple expand", "expanded"))>
            <Items>
                <RadzenAccordionItem Text="Collapsible Group Item #1" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="Collapsible Group Item #2" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="Collapsible Group Item #3" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
            </Items>
        </RadzenAccordion>
    </div>
</div>


<style>

    .doctor-img {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    width: 250px;
}

    .doctor-img img {
        border-radius: 5px;
    }

    .rz-view-header .rz-slot-hour-header {
        flex: none;
        width: 25px;
    }

    .rz-event-content {
        cursor: pointer;
    }
</style>
@code {
    int zoom = 3;
    bool showMadridMarker;
    DateTime? value = DateTime.Now;
    DateTime? date;

    [Parameter]
    public string? LawyerId { get; set; }

    private LawyerListItem? model;
    private IEnumerable<WorkingTimeExceptionViewModel>? wtmodel;
    private List<WteStrings>? wtestrings;

    void Change(object value, string name, string action)
    {

    }
    protected override async Task OnInitializedAsync()
    {
        //                        #if DEBUG
        //await Task.Delay(10000);
        //    #endif
        var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");

        base.OnInitialized();

        try
        {
            model = await client?.GetFromJsonAsync<LawyerListItem>($"Company/GetLawyerById?lawyerId={LawyerId}");

            wtmodel = model.WorkingTime.WorkingTimeExceptions.ToList();
        }
        catch
        {
            this.NavigationManager.NavigateTo("/notfound");
        }
    }
    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<WorkingTimeExceptionViewModel> args)
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.Result.User;
        if (!user.Identity.IsAuthenticated)
        {
            this.navigationManager.NavigateTo("/Identity/Account/Login", true);
        }
        else
        {

            this.navigationManager.NavigateTo($"/booking/{model.Id}/{args.Data.Id}");
        }

    }


    void OnChange(DateTime? value, string name, string format)
    {

    }
    void OnMapClick(GoogleMapClickEventArgs args)
    {

    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {

    }
    void OnClickRight()
    {

    }
    void OnClickLeft()
    {

    }
 }