@page "/lawyers"
@page "/lawyers/{SearchByTown}"
@page "/lawyers/{SearchByTown}/{SearchByArea}"


@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.AministrationViewModels
@using LaweyrServices.Web.Shared.AreasOfActivityViewModels
@using LaweyrServices.Web.Shared.IndexViewModels
@using LaweyrServices.Web.Shared.LawyerViewModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json

@inject IHttpClientFactory ClientFactory
    


<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar ">

                <!-- Search Filter -->
                <div class="card search-filter shadow" >
                    <div class="card-header">
                        <h4 class="card-title mb-0 text-center">Търси адвокат</h4>
                    </div>
                    <div class="card-body">
                        <div class="filter-widget">
                            <RadzenDropDown AllowClear="false" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" Class="w-100"
                                            Placeholder="@town" Data=@model?.Towns TextProperty="Name" ValueProperty="Name" Change=@(args => OnChange(args, "DropDown with placeholder")) />

                        </div>
                        <div class="filter-widget">
                            <RadzenDropDown AllowClear="false" TValue="string" Placeholder="@area" Class="w-100"
                                            Data=@(model?.Areas?.Select(c => c.Name).Distinct())
                                            Change=@(args => OnChangeArea(args, "DropDown")) />

                        </div>
                        <div class="text-center">
                            <button class="btn btn-border-d btn-round btn-block" @onclick="OnSearch" type="button">Филтрирай</button>
                        </div>
                        <div class="filter-widget">
                            <h4 class="text-center" style="margin-top: 15px;">Допълнителни филтри</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" @onchange="FreeFirstAppoitmentCheck">
                                    <span class="checkmark"></span> Безплатна първа консултация
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Фиксирана цена
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" @onchange="NoWinNoFeetCheck">
                                    <span class="checkmark"></span> Без победа, без такса
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-9">
                @if (this.lawyers == null)
                {
                    <Spiner></Spiner>
                }
                else if (!this.lawyers.Any())
                {
                    <RadzenCard class="m-3 shadow">
                        <LawyersNotFound></LawyersNotFound>
                    </RadzenCard>
                }
                else
                {
                    @foreach (var lawyer in lawyers)
                    {
                        <LawyerCard Lawyer="@lawyer"></LawyerCard>
                    }
                }
            </div>
        </div>
    </div>
</div>

<style>
    

    .rz-rating .rzi-star {
        color: #fc0 !important;
    }

    .countposition {
        vertical-align: super;
    }

    .smallspan {
        font-size: 80%;
        color: #00900e;
    }
   
    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .marg {
        margin-top: 80px;
        margin-bottom: 120px;
    }

    .containershadow {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .shading {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-color: #00BFFF;
    }

    .btn.btn-round {
        border-radius: 2px;
    }

    .btn-border-d {
        background: transparent;
        border: 1px solid #111111;
        color: #111;
    }

    .btn {
        border-radius: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 8px 37px;
    }

        .btn.btn-border-d:hover,
        .btn.btn-border-d:focus {
            background: #111111;
            color: #fff;
        }

    .btn-block {
        display: block;
        width: 100%;
    }

    a .btn {
        transition: all 0.125s ease-in-out 0s;
    }
    .rz-rating .rzi-star {
        color: #fc0;
    }
</style>

@code {
    int zoom = 3;

    [Parameter]
    public string? SearchByTown { get; set; } = null;

    [Parameter]
    public string? SearchByArea { get; set; } = null;
    string? lawyerId;
    string? name;

    

    string? town;
    string? area;
    bool FreeFirstAppoitment = false;
    bool NoWinNoFee = false;
    [Parameter]
    public string? source { get; set; } = null;

    private  LawyerPageTownAndAreaViewModel? model;
    private IEnumerable<AllLawyersModel>? lawyers;
    private IEnumerable<AllLawyersModel>? allLawyers;
    HttpClient? client;

    protected override async Task OnInitializedAsync()
    {
        //check authenticate user
        client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
             model = await client.GetFromJsonAsync<LawyerPageTownAndAreaViewModel>("Company/GetTownAndArea");
            //count = await client.GetFromJsonAsync<int>("Lawyer/Count");
            source = $"https://maps.google.com/maps?q={SearchByTown}&t=&z=13&ie=UTF8&iwloc=&output=embed";
          
            var exist = model.Towns.Any(t => t.Name == SearchByTown);
            if (!exist)
            {
                area = SearchByTown;
                town = null;
                SearchByArea = SearchByTown;
            }
            else
            {
                town = SearchByTown;
                area = SearchByArea;
            }
            this.lawyers = await client?.GetFromJsonAsync<IEnumerable<AllLawyersModel>>($"Company/Search?name={name}&town={town}&area={area}");
            allLawyers = lawyers;
            await base.OnInitializedAsync();

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }
    private async Task FreeFirstAppoitmentCheck(ChangeEventArgs ev)
    {
        FreeFirstAppoitment = (Boolean)ev.Value;

        if (FreeFirstAppoitment == true)
        {
            if (NoWinNoFee == true)
            {
                this.lawyers = allLawyers.Where(x => x.NoWinNoFee == true && x.FreeFirstAppointment == true);
            }
            else
            {
                this.lawyers = allLawyers.Where(x => x.FreeFirstAppointment == true);
            }

        }
        else
        {
            if (NoWinNoFee == true)
            {
                this.lawyers = allLawyers.Where(x => x.NoWinNoFee == true);
            }
            else
            {
                this.lawyers = allLawyers;
            }

        }


        StateHasChanged();
    }
    private async Task NoWinNoFeetCheck(ChangeEventArgs ev)
    {
        NoWinNoFee = (Boolean)ev.Value;

        if (NoWinNoFee == true)
        {
            if (FreeFirstAppoitment == true)
            {
                this.lawyers = allLawyers.Where(x => x.NoWinNoFee == NoWinNoFee && x.FreeFirstAppointment == true);
            }
            else
            {
                this.lawyers = allLawyers.Where(x => x.NoWinNoFee == NoWinNoFee);
            }

        }
        else
        {
            if (FreeFirstAppoitment == true)
            {
                this.lawyers = allLawyers.Where(x => x.FreeFirstAppointment == true);
            }
            else
            {
                this.lawyers = allLawyers;
            }
        }

        StateHasChanged();
    }
    void OnChangeArea(object value, string name)
    {
        area = value.ToString();
        SearchByArea = value.ToString();
        StateHasChanged();
    }
    void OnChange(object value, string name)
    {
        town = value.ToString();
        SearchByTown = value.ToString();

        StateHasChanged();
    }
    void OnFolow(string id)
    {
        this.NavigationManager.NavigateTo($"lawyer/{id}");
    }
    async void OnSearch()
    {
        var exist = model.Towns.Any(t => t.Name == SearchByTown);
        if (!exist)
        {
            SearchByTown = area;
            source = $"https://maps.google.com/maps?q={SearchByTown}&t=&z=13&ie=UTF8&iwloc=&output=embed";
            this.NavigationManager.NavigateTo($"lawyers/{SearchByTown}");
            StateHasChanged();
        }
        else
        {
            this.NavigationManager.NavigateTo($"lawyers/{SearchByTown}/{SearchByArea}");
        }


        this.lawyers = await client?.GetFromJsonAsync<IEnumerable<AllLawyersModel>>($"Company/Search?name={name}&town={town}&area={area}");
        StateHasChanged();
    }
    private bool IsFalse(bool noWin, bool fprice)
    {
        if (noWin == false && fprice == false)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
}