@page "/lawyer/{LawyerId}"
@using LaweyrServices.Web.Shared.LawyerViewModels
@using LaweyrServices.Web.Shared.WorkingTimeModels


@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject IHttpClientFactory ClientFactory


<div class="content">
    <div class="container-fluid">

        <!-- Doctor Widget -->
        <div class="card shadow">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="doc-info-left">
                        <div class="doctor-img">
                            <img src="@model?.ImgUrl" class="img-fluid" alt="@model?.Names">
                        </div>
                        <div class="doc-info-cont">
                            <h1>@model?.Names</h1>
                            <p class="doc-speciality">@model?.OfficeName</p>
                            <p>James Ford is a Lawyer and Managing Director with Blue Ocean Law Group™ servicing Sydney, NSW 2000, Melbourne, VIC 3000 and Brisbane, QLD 4000. James Ford has 10 years experience and focuses on Litigation & Dispute Resolution, Property Law and Commercial Property Development.</p>
                            <div class="rating">
                                <RadzenRating ReadOnly="true" Stars="5" Value="4" />
                                <span class="d-inline-block average-rating">(17)</span>
                            </div>
                            <div class="clinic-details">
                                <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA - <a href="javascript:void(0);">Get Directions</a></p>
                                <ul class="clinic-gallery">
                                    @if (model?.FreeFirstAppointment == true)
                                    {
                                        <li><i class="oi oi-check"></i><span>Безплатна първа консултация</span></li>
                                    }
                                    @if (model?.FixedCost == true)
                                    {
                                        <li><i class="oi oi-check"></i> Фиксирана цена</li>
                                    }
                                    @if (model?.NoWinNoFee == true)
                                    {
                                        <li><i class="oi oi-check"></i> Без Победа Без цена</li>
                                    }
                                    @if (model?.MeetingClientLocation == true)
                                    {
                                        <li><i class="oi oi-check"></i> Посещение в офис на клиента</li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                    @* <div class="doc-info-right">
                        <div class="clini-infos">
                        <ul>
                        @if (model?.FreeFirstAppointment == true)
                        {
                        <li><i class="oi oi-check"></i><span>Безплатна първа консултация</span></li>
                        }
                        @if (model?.FixedCost == true)
                        {
                        <li><i class="oi oi-check"></i> Фиксирана цена</li>
                        }
                        @if (model?.NoWinNoFee == true)
                        {
                        <li><i class="oi oi-check"></i> Без Победа Без цена</li>
                        }

                        </ul>
                        </div>
                        <div class="doctor-action">
                        <a href="javascript:void(0)" class="btn btn-white fav-btn">
                        <i class="far fa-bookmark"></i>
                        </a>
                        <a href="chat.html" class="btn btn-white msg-btn">
                        <i class="far fa-comment-alt"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
                        <i class="fas fa-phone"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#video_call">
                        <i class="fas fa-video"></i>
                        </a>
                        </div>
                        <div class="clinic-booking">
                        <a class="apt-btn" href="booking.html">Book Appointment</a>
                        </div>
                        </div>*@
                </div>
            </div>
        </div>
        <!-- /Doctor Widget -->
        <!-- Doctor Details Tab -->
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="card flex-fill shadow">

                        <div class="card-header">
                            <h5 class="card-title mb-0">About @model?.Names</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                James D. Ford GAICD is innovative Counsel [iC]™ a.k.a. multidisciplinary, proactive and value-focused General Practice Lawyer at Sydney based law firm, Blue Ocean Law Group, which also services Qld + Victoria + has preferred lawyers in Western Australia + South Australia. We also offer Governance Renewal incl. Blue Ocean Strategy and Added-Value Solutions. James offers agreed scope of legal services for an agreed cost, a mobile lawyer service (for paying VIP Clients) meeting at client's locations in Sydney and surrounding suburbs, and delivers legal services remotely and by appointment in Brisbane and Melbourne. James provides legal advice and helps NSW, Qld, and Vic residents, businesses, property developers, builders and property investors with:

                                1. Property Law & Conveyancing
                                - Options for Acquisition, Development, Disputes, Buying/Selling all categories of property in NSW/Qld/Vic.
                                - Commercial leases, retail leases, ‘green’ leases and landlord and tenant negotiations.
                                - Property development and Commercial Building Disclosure obligations.
                                - Financing and loan agreements.

                                2. Business Law
                                - All types of business contracts, commercial agreements, company registration, partnerships and franchising.
                                - Estate planning for business owners and property owners.

                                Read James’ verified client reviews as one of the best general practice lawyers and book your free first consultation (only available at his Sydney Office) with confidence today.

                                James is also enrolled as a Barrister & Solicitor of the High Court of New Zealand.
                            </p>
                            <a class="btn btn-primary" href="#">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-md-6">
                <RadzenScheduler Data="@wtmodel" TItem="WorkingTimeExceptionViewModel" StartProperty="StarFrom" EndProperty="EndTo" TextProperty="AppointmentType" AppointmentSelect=@OnAppointmentSelect>
                    <RadzenWeekView EndTime=@TimeSpan.FromHours(20) TimeFormat="HH" />
                </RadzenScheduler>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-md-6 col-sm-3">
                                <span>Areas of law</span>
                            </div>
                            <div class="col-md-6 col-sm-3">
                                <span>sdasadad</span>
                                <span>sdasadad</span>
                                <span>sdasadad</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>Languages</span>
                            </div>
                            <div class="col-md-6">
                                <span>English</span>
                                <span>Bulgarian</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>Law Firm</span>
                            </div>
                            <div class="col-md-6">
                                <span> Andrew Richard Corish</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>Godina na sazdavane</span>
                            </div>
                            <div class="col-md-6">
                                <span>1986</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Card with links</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- /Doctor Details Tab -->

        <RadzenAccordion Multiple="true" Collapse=@(args => Change(args, "Accordion with multiple expand", "collapsed"))
                         Expand=@(args => Change(args, "Accordion with multiple expand", "expanded"))>
            <Items>
                <RadzenAccordionItem Text="Collapsible Group Item #1" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="Collapsible Group Item #2" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="Collapsible Group Item #3" class="card-header">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </RadzenAccordionItem>
            </Items>
        </RadzenAccordion>
    </div>
</div>


<style>
    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 20px;
    }

    .doctor-img {
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
        width: 250px;
    }

        .doctor-img img {
            border-radius: 5px;
        }

    .rz-view-header .rz-slot-hour-header {
        flex: none;
        width: 25px;
    }

    .rz-event-content {
        cursor: pointer;
    }
</style>
@code {
    int zoom = 3;
    bool showMadridMarker;
    DateTime? value = DateTime.Now;
    DateTime? date;

    [Parameter]
    public string? LawyerId { get; set; }

    private LawyerListItem? model;
    private IEnumerable<WorkingTimeExceptionViewModel>? wtmodel;

    void Change(object value, string name, string action)
    {

    }
    protected override async Task OnInitializedAsync()
    {
        //                        #if DEBUG
        //await Task.Delay(10000);
        //    #endif
        var client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");

        base.OnInitialized();

        try
        {
            model = await client?.GetFromJsonAsync<LawyerListItem>($"Company/GetLawyerById?lawyerId={LawyerId}");

            wtmodel = model.WorkingTime.WorkingTimeExceptions.ToList();
            if (wtmodel != null)
            {
                foreach (var item in wtmodel)
                {
                    item.AppointmentType = item.StarFrom.ToString("HH:mm");
                }
            }

        }
        catch
        {
            this.NavigationManager.NavigateTo("/notfound");
        }
    }
    void OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<WorkingTimeExceptionViewModel> args)
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.Result.User;
        if (!user.Identity.IsAuthenticated)
        {
            this.navigationManager.NavigateTo("/Identity/Account/Login", true);
        }
        else
        {

            this.navigationManager.NavigateTo($"/booking/{model.Id}/{args.Data.Id}");
        }

    }


    void OnChange(DateTime? value, string name, string format)
    {

    }
    void OnMapClick(GoogleMapClickEventArgs args)
    {

    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {

    }
    void OnClickRight()
    {

    }
    void OnClickLeft()
    {

    }
 }