@page "/notary"
@page "/notary/{SearchByTown}"



@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.AministrationViewModels
@using LaweyrServices.Web.Shared.NotaryModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json
@using Microsoft.JSInterop
@inject IHttpClientFactory ClientFactory



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 ">
                <!-- Search Filter -->
                <div class="card search-filter shadow ">
                    <div class="card-header">
                        <h4 class="card-title mb-0 text-center">Търси нотариус</h4>
                    </div>
                    <div class="card-body">
                        <div class="filter-widget">
                            <RadzenDropDown AllowClear="false" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" Class="w-100"
                                            Placeholder="@SearchByTown" Data=@model?.AllTowns TextProperty="Name" ValueProperty="Name" Change=@(args => OnChange(args, "DropDown with placeholder")) />
                        </div>
                        <div class="filter-widget">
                            <RadzenAutoComplete FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@model?.AllNotarys TextProperty="Names" Change=@(args => OnSearchNotary(args, "AutoComplete")) Style="width: 100%;" />
                        </div>
                         <div class="text-center">
                            <button class="btn btn-border-d btn-round btn-block" @onclick="OnSearch" type="button">Филтрирай</button>
                        </div>
                        <div class="filter-widget" style="margin-top: 15px;">
                            <h4 class="text-center">Допълнителни филтри</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" @onchange="SaturdayChecked">
                                    <span class="checkmark"></span> Работи в събота
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" @onchange="SundayChecked">
                                    <span class="checkmark"></span> Работи в неделя
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-9">
                @if (this.model == null)
                {
                   <Spiner></Spiner>
                }
                else if (!this.model.AllNotarys.Any())
                {
                    <RadzenCard class="m-3 shadow">
                       <NotaryNotFound></NotaryNotFound>
                    </RadzenCard>
                }
                else
                {
                    @foreach (var notary in model.AllNotarys)
                    {
                        <NotaryCard Notary="@notary"></NotaryCard>
                      
                    }
                }
            </div>
        </div>
    </div>
</div>

<style>
    
   
    .smallspan {
        font-size: 80%;
        color: #00900e;
        background: transparent;
    }

    .sticky {
        position: sticky !important;
        position: initial !important;
    }

    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .marg {
        margin-top: 80px;
        margin-bottom: 120px;
    }

    .containershadow {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .shading {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-color: #00BFFF;
    }

    .btn.btn-round {
        border-radius: 2px;
    }

    .btn-border-d {
        background: transparent;
        border: 1px solid #111111;
        color: #111;
    }

    .btn {
        border-radius: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 8px 37px;
    }

        .btn.btn-border-d:hover,
        .btn.btn-border-d:focus {
            background: #111111;
            color: #fff;
        }

    .btn-block {
        display: block;
        width: 100%;
    }

    a .btn {
        transition: all 0.125s ease-in-out 0s;
    }
</style>

@code {

    [Parameter]
    public string? SearchByTown { get; set; } = null;

    bool workSunday = false;

    bool workSaturday = false;

    string? town;


    [Parameter]
    public string? source { get; set; } = null;

    NotaryPageViewModel? model;
    private IJSObjectReference? objectReference;
    HttpClient? client;
    public IEnumerable<NotaryViewModel>? allNotarys;

    protected override async Task OnInitializedAsync()
    {

        client = ClientFactory.CreateClient("LaweyrServices.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            //count = await client.GetFromJsonAsync<int>("Lawyer/Count");
            source = $"https://maps.google.com/maps?q={SearchByTown}&t=&z=13&ie=UTF8&iwloc=&output=embed";

            this.model = await client?.GetFromJsonAsync<NotaryPageViewModel>($"Notary/OnGet?townName={SearchByTown}");
            allNotarys = model.AllNotarys;
            await base.OnInitializedAsync();


        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }
    

    private async Task SundayChecked(ChangeEventArgs ev)
    {
        workSunday = (Boolean)ev.Value;
        if (workSunday == true)
        {
            if (workSaturday == true)
            {
                model.AllNotarys = allNotarys.Where(x => x.WorkInSaturday == true && x.WorkInSunday == true);
            }
            else
            {
                model.AllNotarys = allNotarys.Where(x => x.WorkInSunday == true);
            }
        }
        else
        {

            if (workSaturday == true)
            {
                model.AllNotarys = allNotarys.Where(x => x.WorkInSaturday == true);
            }
            else
            {
                model.AllNotarys = allNotarys;
            }
        }
        StateHasChanged();
    }
    private async Task SaturdayChecked(ChangeEventArgs ev)
    {

        workSaturday = (Boolean)ev.Value;
        if (workSaturday == true)
        {
            if (workSunday == true)
            {
                model.AllNotarys = allNotarys.Where(x => x.WorkInSaturday == true && x.WorkInSunday == true);
            }
            else
            {
                model.AllNotarys = allNotarys.Where(x => x.WorkInSaturday == true);
            }
        }
        else
        {

            if (workSunday == true)
            {
                model.AllNotarys = allNotarys.Where(x => x.WorkInSunday == true);
            }
            else
            {
                model.AllNotarys = allNotarys;
            }
        }
        StateHasChanged();
    }
    void OnChange(object value, string name)
    {
        town = value.ToString();
        SearchByTown = value.ToString();

        StateHasChanged();
    }

    async Task OnSearch()
    {

        source = $"https://maps.google.com/maps?q={SearchByTown}&t=&z=13&ie=UTF8&iwloc=&output=embed";
        this.model.AllNotarys = await client?.GetFromJsonAsync<IEnumerable<NotaryViewModel>>($"Notary/OnSearch?townName={SearchByTown}");
        workSaturday = false;
        workSunday = false;
        this.NavigationManager.NavigateTo($"notary/{SearchByTown}");
        StateHasChanged();

    }
    void OnSearchNotary(object value, string name)
    {
        var exist = model.AllNotarys.FirstOrDefault(x => x.Names.ToLower() == value.ToString().ToLower());
        if (exist != null)
        {
            this.NavigationManager.NavigateTo($"notary-office/{exist.Id}");
        }
    }

}