@page

@model LawyerAreaOfActivitiesModel
@{
    ViewData["Title"] = "Area Of Activities";
    ViewData["ActivePage"] = ManageNavPages.LawyerAreaOfActivities;
}
<h3>@ViewData["Title"]</h3>

@*@foreach (var item in Model.AreasOfActivitys)
    {

    <form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating">
    <input type="radio" asp-for="Copyright" class="form-control" />
    <label asp-for="Copyright" class="form-label"></label>
    <span asp-validation-for="Copyright" class="text-danger"></span>
    </div>
    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </form>






    }*@

<form method="post">
    <div class="row">
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.Copyright" type="checkbox" value="Авторско право">
                <label class="form-check-label" for="flexCheckDefault">
                    Авторско право
                </label>
            </div>
        </div>
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.Arbitration" type="checkbox" value="Арбитраж">
                <label class="form-check-label" for="flexCheckDefault">
                    Арбитраж
                </label>
            </div>
        </div>
         <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.AirTransportLaw" type="checkbox" value="Въздушно транспортно право">
                <label class="form-check-label" for="flexCheckDefault">
                    Въздушно транспортно право
                </label>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.Taxlaw" type="checkbox" value="Данъчно право" >
                <label class="form-check-label" for="flexCheckDefault">Данъчно право
                </label>
            </div>
        </div>
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.EuropeanRight" type="checkbox" value="Европейско право" >
                <label class="form-check-label" for="flexCheckDefault">
                    Европейско право
                </label>
            </div>
        </div>
         <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.EthicalRules" type="checkbox" value="Етични правила">
                <label class="form-check-label" for="flexCheckDefault">
                    Етични правила
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.Suffrage" type="checkbox" value="Изборно право">
                <label class="form-check-label" for="flexCheckDefault">Изборно право
                </label>
            </div>
        </div>
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.PropertyLaw" type="checkbox" value="Имуществено право">
                <label class="form-check-label" for="flexCheckDefault">
                   Имуществено право
                </label>
            </div>
        </div>
         <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.InformationLaw" type="checkbox" value="Информационно право">
                <label class="form-check-label" for="flexCheckDefault">
                    Информационно право
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.Concessions" type="checkbox" value="Концесии">
                <label class="form-check-label" for="flexCheckDefault">Концесии
                </label>
            </div>
        </div>
        <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.MedicalLaw" type="checkbox" value="Медицинско право">
                <label class="form-check-label" for="flexCheckDefault">
                   Медицинско право
                </label>
            </div>
        </div>
         <div class="col m-md-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="AreaModel.MaritimeLaw" type="checkbox" value="Морско право">
                <label class="form-check-label" for="flexCheckDefault">
                    Морско право
                </label>
            </div>
        </div>
    </div>
    <input type="submit" value="OK" />
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}