@page

@using Microsoft.AspNetCore.Components;
@model WorkingTimeExceptionModel
@{
    ViewData["Title"] = "WorkingTimeException";
    ViewData["ActivePage"] = ManageNavPages.WorkingTimeException;
}
@*<link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
<form asp-page="/WorkingTimeExceptionModel" method="post" role="form">
    <div class="row">
       
        <div class="col-md-4 form-group mt-3 mt-md-0">
            <label asp-for="Time" class="text-primary text-center"></label>
            <input asp-for="Time" value="time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
            <label asp-for="Date" class="text-primary text-center"></label>
            <input type="date" asp-for="Date" value="date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center"><button type="submit" class="btn btn-outline-primary">Find</button></div>
    <RadzenButton Text="Hi"></RadzenButton>
</form>


<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
*@