@inherits LayoutComponentBase

@*<PageTitle>LawyerServices.Web</PageTitle>*@

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
<body>
    <NavMenuTest />
     <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
        <div class="container-fluid">
             @Body
        </div>
   @*<article class="content px-4 mt-sm-60">
            @Body
        </article>*@
    @*<div >
        @Body
    </div>*@
</body>

<footer class="border-top footer text-muted fixed-bottom" style="background-color:blue">
    <div class="container mt-4 mb-4">
        &copy; 2019 - Blazor-Top-Menu
    </div>
</footer>