@page "/client"
@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.WorkingTimeModels
@using System.Globalization

@inject HttpClient Http


@layout Shared.AdministrationLayout

<AuthorizeView Roles="User">
    <Authorized>
        <div class="content">
            <div class="container-fluid">
                @if (wteModel == null)
                {
                    <Spiner></Spiner>
                }
                else if (!wteModel.Any())
                {
                    <div class="row">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="box">
                                                <h2>Здравей,</h2>
                                                <p>Използвай формата за търсене – бързо и лесно ще намериш своя адвокат и ще резервираш час за среща напълно безплатно!</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="box text-muted text-center">
                                                <div class="icon-circle gray">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <h4>Нямате предстоящи срещи</h4>
                                                <p>Използвайте формата за търсене и запазете час за адвокат сега !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <footer class="alert alert-success help-message" role="alert">
                                        <h5>Имате нужда от помощ?</h5>
                                        Разгледайте страницата ни с <a href="/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: support@pravenportal.com">support@pravenportal.com</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <h3 class="text-center">Предстоящи резервации</h3>
                                <Virtualize Items="@wteModel" Context="wte" TItem="WorkingTimeExceptionUserViewModel" ItemSize="10">
                                    <UserWteCard Wte="@wte" OnDoneCallback="GetValue"></UserWteCard>
                                </Virtualize>
                                <HelpCard></HelpCard>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    </NotAuthorized>
</AuthorizeView>


@code {

    private List<WorkingTimeExceptionUserViewModel>? wteModel;

    protected override async Task OnInitializedAsync()
    {
        var response = await this.Http.GetFromJsonAsync<List<WorkingTimeExceptionUserViewModel>>("User/GetNextUserWorkingTimeExceptions");
        if (response != null)
        {
            wteModel = response.Where(x => x.StarFrom > DateTime.Now && x.IsCanceled == false).ToList();
        }


        await base.OnInitializedAsync();

    }
    void GetValue(WorkingTimeExceptionUserViewModel? Wte)
    {
        wteModel.Remove(Wte);
    }
}
