@page "/client"
@using LaweyrServices.Web.Client.Shared.Administration.Pages.Components
@using LaweyrServices.Web.Shared.WorkingTimeModels
@using System.Globalization

@inject HttpClient Http


@layout Shared.AdministrationLayout

<AuthorizeView Roles="User">
    <Authorized>
        <div class="content">
            <div class="container-fluid">
                @if (wteModel == null)
                {
                    <Spiner></Spiner>
                }
                else if (!wteModel.Any())
                {
                    <div class="row">
                        <NoUpcomingLawyerHours></NoUpcomingLawyerHours>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <h3 class="text-center">Предстоящи резервации</h3>
                                @foreach (var wte in wteModel.Where(x => x.StarFrom.ToLocalTime() > DateTime.Now.ToLocalTime() && x.IsCanceled == false))
                                {
                                    <UserWteCard Wte="@wte" OnDoneCallback="GetValue"></UserWteCard>
                                }
                               <HelpCard></HelpCard>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/notfound");
        }
    </NotAuthorized>
</AuthorizeView>
<style>
    .btn.btn-round {
        border-radius: 2px;
    }

    .btn-border-d {
        background: transparent;
        border: 1px solid #111111;
        color: #111;
    }

    .btn {
        border-radius: 0;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 8px 37px;
    }

        .btn.btn-border-d:hover,
        .btn.btn-border-d:focus {
            background: #111111;
            color: #fff;
        }

    .btn-block {
        display: block;
        width: 100%;
    }
</style>

@code {

    private List<WorkingTimeExceptionUserViewModel>? wteModel;

    protected override async Task OnInitializedAsync()
    {
       
        wteModel = await this.Http.GetFromJsonAsync<List<WorkingTimeExceptionUserViewModel>>("User/GetNextUserWorkingTimeExceptions");
      
        await base.OnInitializedAsync();

    }
    void GetValue(WorkingTimeExceptionUserViewModel? Wte)
    {
        wteModel.Remove(Wte);
    }
}
