@page "/gdpr"

<PageTitle>ПОлитика за поверителност | Правен портал</PageTitle>

<div class="container">
                <h3 class="text-center">
                   ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ НА ПРАВЕН ПОРТАЛ ПРИ ОБРАБОТВАНЕ НА ВАШИТЕ ЛИЧНИ ДАННИ
                </h3>
                <ul style="list-style:none;">
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Въведение
                        </span>
                        <p class="spd-text">
                            С представяне на настоящите правила имаме за цел да Ви разясним каква информация събираме за Вас, защо и как го правим, какви са правата Ви съгласно Закона за защита на личните данни (ЗЗЛД) и Общия регламент за защита на личните данни (РЕГЛАМЕНТ (ЕС) 2016/679 НА ЕВРОПЕЙСКИЯ ПАРЛАМЕНТ И НА СЪВЕТА от 27 април 2016 година - GDPR).
                        </p>
                    </li>
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Защо е необходимо Вашето съгласие?
                        </span>
                        <p class="spd-text">
                            Наш изключителен приоритет е да защитаваме личните Ви данни и да получим Вашето свободно, информирано и недвусмислено съгласие за обработка на личните Ви данни от Профит.
                        </p>
                        <p class="spd-text">
                            Ако маркирате „Приемам всичко” Вие се съгласявате, че предоставяте личните си данни доброволно, че сте се запознали с правата си по ЗЗЛД и РЕГЛАМЕНТ (ЕС) 2016/679 НА ЕВРОПЕЙСКИЯ ПАРЛАМЕНТ И НА СЪВЕТА от 27 април 2016 година-GDPR и давате своето съгласие личните Ви данни да бъдат събирани, обработвани, съхранявани и предавани на трети лица за цели, които сме посочили по-долу. 
                        </p>
                    </li>
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Определения
                        </span>
                        <p class="spd-text">
                            <span style="color:blue;">„Лични данни“</span> означава всяка информация, свързана с идентифицирано физическо лице или
                            физическо лице, което може да бъде идентифицирано („субект на данни“ или “потребител”); физическо
                            лице, което може да бъде идентифицирано, е лице, което може да бъде идентифицирано, пряко или
                            непряко, по-специално чрез идентификатор като име, идентификационен номер, данни за местонахождение,
                            онлайн идентификатор или по един или повече признаци, специфични за физическата, физиологичната,
                            генетичната, психическата и умствената, икономическата, културната или социалната идентичност
                            на това физическо лице;
                        </p>
                        <p class="spd-text">
                            „Администратор“ означава орган, който сам или съвместно с други органи определя целите и средствата за обработването на лични данни; когато целите и средствата за това обработване се определят от правото на Европейския съюз или правото на Република България, администраторът или специалните критерии за неговото определяне могат да бъдат установени в правото на Европейския съюз или в българското законодателство. В настоящия случай администраторът е „Правен портал” ЕОД (наричано по-долу за краткост „Профит”), дружество надлежно регистрирано и действащо съгласно законите на Република България с ЕИК 200082907, със седалище и адрес на управление: гр. Бургас, район Център, ул. Георги Кирков № 11;
                        </p>
                        <p class="spd-text">
                            „Обработващ лични данни“ означава физическо или юридическо лице, публичен орган, агенция или друга структура, която обработва лични данни от името на администратора;
                        </p>
                        <p class="spd-text">
                           „Обработване“ означава всяка операция или съвкупност от операции, извършвана с лични данни или набор от лични данни чрез автоматични или други средства като събиране, записване, организиране, структуриране, съхранение, адаптиране или промяна, извличане, консултиране, употреба, разкриване чрез предаване, разпространяване или друга форма на осигуряване на достъп до данните, подреждане или комбиниране, ограничаване, изтриване или унищожаване;
                        </p>
                        <p class="spd-text">
                            „Надзорен орган“ означава независим публичен орган от държава членка на Европейския съюз, отговорен за наблюдението на прилагането на правилата за защита на личните данни. За Република България надзорен орган е Комисията за защита на личните данни.
                        </p>
                    </li>
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Цел на политиката
                        </span>

                        <p class="spd-text">
                            Тази политика за поверителност има за цел да гарантира, че Администраторът:
                        </p>

                        <ul>
                            <li class="spd-text">
                                спазва законодателството в областта на защитата на данните, а именно Закона за защита на личните данни (ЗЗЛД) и Общия регламент
                                за защита на личните данни и останалото приложимо законодателство, и следва добрите практики;
                            </li>
                            <li class="spd-text">
                                защитава потребителите, клиентите и партньорите на Профит;
                            </li>
                            <li class="spd-text">
                                гарантира прозрачност за начините, по които се съхраняват и обработват личните данни на субектите;
                            </li>
                            <li class="spd-text">
                                осигурява защита от рисковете, свързани с нарушаване на данните;
                            </li>
                        </ul>
                    </li>
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Как събираме информация за Вас?
                        </span>
                        <p class="spd-text">
                            Ние можем да събираме информация за Вас по няколко начина:
                        </p>
                        <p class="spd-text">
                            <span cstyle="color:black;font-weight: bold;">Попълвани и изпращани от Вас форми, свързани с използваните услуги</span>
                        </p>
                        <p class="spd-text">
                            Чрез изпращането им, Вие съзнателно споделяте лични данни.
                        </p>
                        <p class="spd-text">
                            За всяка форма, съдържаща изпращане на лични данни, ще посочим целите на използване, срок на съхранението им, трети страни,
                            с които евентуално ще ги споделим, начините да упражните правата си по
                            <span style="color:black;font-weight: bold;">Регламента</span>.
                        </p>
                        <p class="spd-text">
                            Ще минимизираме обема данни във формата спрямо според обявените цели.
                        </p>
                        <p class="spd-text">
                            Например:
                        </p>
                        <ul >
                            <li class="spd-text">
                                когато създавате профил на уебсайтовете на Профит, Вие ни предоставяте лична информация, включително имената си, телефонен номер и електронна поща.
                            </li>
                            <li class="spd-text">
                                когато участвате в игри, конкурси или промоции на Правен портал и/или на трети страни – Партньори на Правен портал .
                            </li>
                        </ul>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">Данни, събирани чрез наблюдения</span>
                        </p>
                        <p class="spd-text">
                            Понякога събираме информация за Вас наблюдавайки Вашето поведение на сайтовете ни и в мобилните ни апликации.
                        </p>
                        <p class="spd-text">
                            За целта използваме стандартни за Internet подходи за проследяване на потребителското поведение, напр. мрежово оборудване,
                            за проследяване на IP адреса Ви, HTTP GET/POST протоколи за запис и обмен на идентификатори на
                            Вас и устройството Ви.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">Данни, получени от трети страни</span>
                        </p>
                        <p class="spd-text">
                            Понякога, след Ваше изрично съгласие дадено през инструментите партньора, можем да получим данни от трети страни, напр. данни
                            от профила Ви в социални мрежи, като Facebook.
                        </p>
                        <p class="spd-text">
                            Възможно е тези данни да бъдат обединени с други лични данни за Вас, с които вече разполагаме.
                        </p>
                        <p class="spd-text">
                            Използвайки различни инструменти за онлайн анализ, ние можем да получим детайлни, но агрегирани данни за аудиторията на сайтовете
                            ни. Това не са лични данни по смисъла на
                            <span style="color:black;font-weight: bold;">Регламента</span>.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">Бисквитки</span>
                        </p>
                        <p class="spd-text">
                            Правен портал  използва на своите сайтове бисквитки за съхранение на настройки и идентификатори, необходими за предоставяне на посочните
                            в сайта услуги. Някои от тези бисквитки са технически необходими за нормалното функциониране
                            на сайтовете.
                           
                        </p>
                    </li>
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Каква информация събираме и обработваме, когато ползвате нашите услуги?
                        </span>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">Попълвани и изпращани от Вас форми</span>
                        </p>
                        
                        <p class="spd-text">
                            Обичайно, събираме следните данни:
                        </p>
                        <ul >
                            <li class="spd-text">
                                Вашите имена;
                            </li>
                            <li class="spd-text">
                                Потребителско име;
                            </li>
                            <li class="spd-text">
                                Парола;
                            </li>
                            <li class="spd-text">
                                Мобилен телефон;
                            </li>
                            <li class="spd-text">
                                Адрес на електронна поща;
                            </li>
                            <li class="spd-text">
                                Град;
                            </li>
                        </ul>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">Данни, събирани чрез наблюдения</span>
                        </p>
                        <p class="spd-text">
                            За всички посетители ние и доставчиците на използваните от нас инструменти, обичайно събираме следните данни за Вас:
                        </p>
                        <ul >
                            <li class="spd-text">
                                IP адреса, от който правите посещението;
                            </li>
                            <li class="spd-text">
                                Идентификатор на браузъра Ви;
                            </li>
                            <li class="spd-text">
                                Идентификатор на мобилното Ви устройството;
                            </li>
                            <li class="spd-text">
                                Несъдържащ лични данни Ваш идентификатор;
                            </li>
                            <li class="spd-text">
                                История на поведението Ви – посетени страници, време прекарано на тях, закупени продукти и други;
                            </li>
                            <li class="spd-text">
                                Поведение спрямо съдържанието на сайта/мобилната апликация – навигация, използвани интерфейсни елементи, време на престой;
                            </li>
                            <li class="spd-text">
                                Вашите търсения;
                            </li>
                            <li class="spd-text">
                                Поведение спрямо сервираните Ви реклами – какви и колко реклами са сервирани; къде са сервирани; видени реклами; реализирани
                                кликове, пропуснати реклами и други;
                            </li>
                            <li class="spd-text">
                                Вашите коментари.
                            </li>
                        </ul>
                        <p class="spd-text">
                            За логнатите потребители, към посочените по-горе данни, събираме и идентификатори, свързващи ги с конкретния профил на потребителя.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">Данни, получени от трети страни</span>
                        </p>
                        <p class="spd-text">
                            В зависимост от източника на данни, това включва:
                        </p>
                        <ul >
                            <li class="spd-text">
                                Основна информация за профила, като име, имейл адрес, дата на раждане;
                            </li>
                            <li class="spd-text">
                                Подробности, които решите да споделите според конкретните настройки за социални медийни акаунти;
                            </li>
                            <li class="spd-text">
                                Вашият контакти и начина Ви на свързаност с тях.
                            </li>
                        </ul>
                    </li>
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            За какви цели обработваме информацията?
                        </span>
                        <p class="spd-text">
                            Информацията, която събираме и обработваме за Вас може да се използва за следните цели:
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">Нормално функциониране на сайтове ни</span>
                        </p>
                        <p class="spd-text">
                            Тези данни са стриктно необходими за нормалната работа на сайтовете и мобилните ни апликации. Чрез тях можем да удостоверим
                            самоличността Ви като логнат потребители, да Ви покажем по-добре съдържанието, да заредим сайта
                            по-бързо, да защитаваме сайтовете и Вас от посегателства.
                        </p>
                        <p class="spd-text">
                            Такива данни например са данните от сесията Ви – информация дали сте логнат, кеширано съдържание и други.
                        </p>
                        <p class="spd-text">
                            Тук попадат и данните, свързани с идентифицирането Ви във връзка с регистрация за използване на наша услуга.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За договорно изпълнение на услугите ни</span>
                        </p>
                        <p class="spd-text">
                            Някои от услугите ни, като електронната търговия, изискват да споделите с нас лични данни. Използваме ги за да можем да изпълним
                            договора си с Вас, за продажба и доставка на предлаганите от нас стоки.
                        </p>
                        <p class="spd-text">
                            Други предлагани от нас услуги са възможностите да добавяте новина, коментари, снимки или видеа. Използваме личните Ви данни,
                            която ни дава възможност да Ви идентифицираме и при необходимост – да модерираме добавеното от
                            Вас съдържание.
                        </p>
                        <p class="spd-text">
                            Тук попадат и данните, свързани с идентифицирането на потребителя във връзка с регистрация за използване на наша услуга.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За запазване и достъп до информация</span>
                        </p>
                        <p class="spd-text">
                            Тази цел е спомагателна за изпълнение на други цели – чрез използването на различни технически механизми, Правен портал ще може
                            да изпълни някоя от другите описани цели.
                        </p>
                        <p class="spd-text">
                            Включва съхранение и достъп до информация, запазена на Вашето устройство, напр. идентификатори на устройство, идентификатори
                            на потребител, рекламни идентификатори, бисквитки и други технологии.
                        </p>
                        <p class="spd-text">
                            Тази цел е помощна – чрез използването на описаните в нея технически механизми, ние ще можем да изпълним някоя от другите
                            описани цели.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За персонализиране и профилиране</span>
                        </p>
                        <p class="spd-text">
                            Събираме и обработваме информация за използването на услугите ни за последващо сервиране на персонализирана реклама и/или
                            съдържание в друг контекст, напр. други сайтове и мобилни апликации, след време.
                        </p>
                        <p class="spd-text">
                            Типично, съдържанието и поведението Ви на сайта/мобилната апликации се използва за създаване на заключения за Вашите интереси,
                            чрез които се управлява бъдещият избор на сервирани реклами и/или съдържание.
                        </p>
                        <p class="spd-text">
                            Целите, преследвани от Правен портал  са: осигуряване на по-добро преживяване на потребителите на сайтовете, мобилните апликации
                            и услугите на Профит, чрез показване на релевантни реклами.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За подбор, доставка и отчитане на сервираните реклами</span>
                        </p>
                        <p class="spd-text">
                            Правен портал  предлага безплатни за достъп от потребителите си платформата и мобилни апликации. За да може да осигури финансиране
                            на дейността си, Правен портал сервира реклами на потребителите си.
                        </p>
                        <p class="spd-text">
                            Известно е, че сервирането на реклами и свързаните с тази дейност събиране на данни за потребителското поведение и изграждане
                            на профили на потребителите са измежду най-сериозните причини за създаване на ОРЗД.
                        </p>
                        <p class="spd-text">
                            Правен портал разбира отговорностите си към потребителите и се стреми да ограничи събирането и обработката на данни за целите на
                            оптимизиране сервирането на реклами до възможния минимум. Все пак, технологичното развитие е
                            довело до създаването на сложна система от отношения и обмен на данни, за тези цели.
                        </p>
                        <p class="spd-text">
                            Събираме информация и я комбинираме с предишно налична, за да подберем и Ви доставим релевантна реклама и за да можем да
                            измерим доставката и ефективността й. Това може да включва предварително събрана информация за
                            Вашите предишни интереси към подбрани реклами, обработка на данни за поведението Ви, когато рекламата
                            Ви е била показана, колко често Ви се показват дадени реклами, къде и кога са Ви били показани,
                            дали сте предприели действие свързано с рекламата, включително клик на рекламата и направена
                            покупка.
                        </p>
                        <p class="spd-text">
                            Тази цел не включва персонализиране и профилиране.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За подбор, доставка и отчитане на сервираното съдържание</span>
                        </p>
                        <p class="spd-text">
                            Събираме информация и я комбинираме с предишно събрана, за да подберем и Ви доставим релевантно съдържание и да измерим доставката
                            и ефективността му. Това може да включва предварително събрана информация за Вашите интереси
                            към съдържанието, обработка на данни за показаното Ви съдържание, колко често или за колко време
                            е било показано, дали сте предприели действие, свързано със съдържанието, включително клик на
                            съдържанието.
                        </p>
                        <p class="spd-text">
                            Тази цел не включва персонализиране и профилиране.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За измерване</span>
                        </p>
                        <p class="spd-text">
                            Събираме информация за Вашето използване на съдържанието и я комбинираме с предишно събрана, за да измерим, разберем и отчетем
                            Вашето използване на услугите ни.
                        </p>
                        <p class="spd-text">
                            Тази цел не включва персонализиране и профилиране.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">По възложение и за проекти на трети страни</span>
                        </p>
                        <p class="spd-text">
                            При конкретни проекти по възложение на трети страни събираме Ваши лични данни, които им споделяме за осъществяване целите
                            на проектите им.
                        </p>
                        <p class="spd-text">
                            Детайлна информация за целите може да намерите в Общите условия на всеки конкретен проект, който ще Ви бъдат предоставени
                            за получаване на Вашето съгласие.
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За да Ви информираме за игри и промоционални оферти на Правен портал </span>
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За обработване на личните Ви данни, включително предоставяне на компетентни органи в предвидените
                                в законите случаи и за изпълнение на законови задължения на Правен портал, както и за цели, свързани
                                с изпълнение на задълженията на страните по договор</span>
                        </p>
                        <p class="spd-text">
                            <span style="color:black;font-weight: bold;">За целите на планиране, отчетност и статистика</span>
                        </p>
                        <p class="spd-text">
                            За целите на планиране, отчетност и статистика означава всяка операция по събиране и обработване на лични данни, необходими
                            за статистически изследвания или за изготвяне на статистически резултати, както и за подготовка,
                            реализиране и проверка на планове и резултатите от тях.
                        </p>
                        <p class="spd-text">
                            <span class="spd-text--italic">За Маркетингови цели</span>
                        </p>
                        <p class="spd-text">
                            За да Ви изпращаме винаги актуална и полезна информация за нашите инициативи, събираме данни като адрес на електронна поща
                            или друг начин за контакт с Вас – Viber, Skype, Messenger профил или такъв в друга комуникационна
                            платформа.
                        </p>
                    </li>
                    
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Какви са правата Ви във връзка с личните данни?
                        </span>
                        <p class="spd-text">
                            Наш приоритет е както да Ви информираме за Вашите законови права, така и да гарантираме тяхното спазване. Вие имате следните
                            права, които следва да се съблюдават при обработване на личните Ви данни:
                        </p>
                        <ul >
                            <li class="spd-text">
                                Право във всеки един момент да оттеглите съгласието си за обработка на личните Ви данни;
                            </li>
                            <li class="spd-text">
                                Да поискате коригиране или допълване на данните Ви при констатирана неточност чрез писмено заявление, отправено до нас;
                            </li>
                            <li class="spd-text">
                                Право на достъп до личните Ви данни;
                            </li>
                            <li class="spd-text">
                                Право на ограничаване обработването на личните Ви данни;
                            </li>
                            <li class="spd-text">
                                Право на възражение срещу обработването на личните Ви данни;
                            </li>
                            <li class="spd-text">
                                Правото на преносимост на данните;
                            </li>
                            <li class="spd-text">
                                Право да поискате изтриване на личните Ви данни, които се обработват незаконосъобразно или с отпаднало правно основание (оттеглено
                                съгласие, изпълнена първоначална цел, за която са били събрани и др.);
                            </li>
                            <li class="spd-text">
                                Право да поискате от Администратора на личните Ви данни да уведомите третите лица, на които Администраторът е предоставил
                                Вашите данни, по отношение на коригиране, изтриване или ограничаване на обработването на
                                личните данни.
                            </li>
                            <li class="spd-text">
                                Имате право на жалба до Комисия за защита на личните данни.
                            </li>
                        </ul>
                    </li>
                    <li class="spd-main-list__item">
                       <span style="color:black;font-weight: bold;">
                            Кога Правен портал може да ползва данните Ви, за да се свърже с Вас?
                        </span>
                        <p class="spd-text">
                            Можем да използваме предоставената от Вас информация, за да се свържем с Вас относно различни въпроси като:
                        </p>
                        <ul >
                            <li class="spd-text">
                                да Ви уведомим за промени в политиките на Правен портал и настоящите правила;
                            </li>
                            <li class="spd-text">
                                да Ви отговорим, когато сте се свързали с нас или да Ви отговорим на Ваш коментар или жалба;
                            </li>
                            <li class="spd-text">
                                да Ви поканим да участвате в наши проучвания по отношение на услугите на Профит;
                            </li>
                            <li class="spd-text">
                                за маркетингови цели;
                            </li>
                            
                        </ul>
                        <p class="spd-text">
                            Никога няма да се свържем с Вас, за да поискаме паролата от Вашия акаунт.
                        </p>
                    </li>
                    
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Заключение
                        </span>
                        <p class="spd-text">
                            Настоящата политика за поверителност е актуална към дата 25.05.2018 г.
                        </p>
                        <p class="spd-text">
                            Правен портал запазва правото си по всяко време да променя и/или допълва настоящата Политика. Промените влизат в сила веднага след
                            публикуването им на уебсайта, освен ако в актуализираната версия на Политиката не е предвидено
                            друго. Трябва периодично да посещавате тази страница за преглед на Политиката. Политиката може
                            да бъде актуализирани по всяко време без специално уведомяване на потребителите на Сайта. Профит
                            не носи отговорност, ако даден потребител на уебсайтовете не се е запознал с последния актуален
                            вариант на настоящата Политиката.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="container">
                <h3 class="text-center">
                    ПОЛИТИКА ЗА БИСКВИТКИ (COOKIES) на Правен портал
                </h3>
                <ul style="list-style:none;">
                    <li>
                        <span style="color:black;font-weight: bold;">
                            Какво включва тази политика?
                        </span>
                        <p class="spd-text">Платформата Правен портал използват бисквитки (cookies).</p>
                        <p class="spd-text">За да научите повече за това какво представляват бисквитките, как се използват на нашите уебсайтове
                            и това как да ги управлявате, прочетете внимателно настоящата Политика за Бисквитки на Правен портал.</p>
                    </li>
                    <li>
                        <span style="color:black;font-weight: bold;">
                            Какво представляват бисквитките?
                        </span>
                        <p class="spd-text">
                            Бисквитката представлява малък файл, съдържащ данни, който се съхранява в уеб браузъра на Вашето устройство при посещаване
                            на конкретни уебсайтове. Бисквитките могат да съдържат, но могат и да не съдържат лични данни
                            за посетителя.
                        </p>
                    </li>
                    <li>
                        <span style="color:black;font-weight: bold;">
                            Защо се използват бисквитките?
                        </span>
                        <p class="spd-text">За да работи правилно, всеки съвременен уебсайт използва бисквитки.</p>
                        <p class="spd-text">Те имат различни задачи, които най-общо улесняват и правят по-интерактивно Вашето ползване на уебсайтовете
                            ни.Например, чрез бисквитките събираме информация във връзка с Вашето посещение и поведение на
                            сайта, така че не трябва да ни я предоставяте отново, и отново. По този начин, можем да Ви разпознаем
                            при следващо посещение на уебсайтовете ни и да Ви покажем.</p>
                        <p class="spd-text">Бисквитките ни помагат и да разберем как използвате нашите услуги, за да можем непрекъснато да ги
                            подобряваме, чрез персонализиране на съдържанието и предложенията към Вас, на база Вашите предпочитания
                            и интереси.</p>
                        <p class="spd-text">Нашите уебсайтове са безплатни за Вас. За да можем да осигурим средства за нормалната им работа,
                            ние Ви сервираме платена реклама. Използваме бисквитките, за да запазим информация свързана с
                            това колко често и на какви места сте виждали реклами, каква реклама Ви е била показвана, по
                            кое време и на кой сайт и Вашето поведение спрямо рекламите – дали сте кликнали на реклама. Тази
                            информация ни помага да Ви показваме все по-релевантни спрямо Вашите интереси и Вашия профил
                            реклами. Ако нямаме възможност да персонализираме рекламите, Вие ще продължавате да ги виждате,
                            но те ще са много по-малко информативни и подходящи за Вас. </p>

                        <p class="spd-text spd-text--accent"></p>
                    </li>
                    <li>
                       <span style="color:black;font-weight: bold;">
                            Какви са видовете бисквитки?
                        </span>
                        <p class="spd-text">В зависимост от това колко време се съхраняват на вашето устройство, бисквитките се категоризират
                            на „постоянни” и „временни” („сесийни“) бисквитки.</p>

                        <ul >
                            <li class="spd-text">• „Постоянните” бисквитки се съхраняват на Вашия компютър или мобилно устройство за дълъг период
                                от време, който може да бъде и години; </li>
                            <li class="spd-text">• „Временните” („сесийните“) бисквитки се поставят временно, когато посещавате нашите уебсайтове,
                                но същите не се съхраняват постоянно на вашето устройство и се заличават, когато Вашата сесия
                                приключи, например като затворите страницата. </li>
                        </ul>

                        <p class="spd-text">В зависимост от функциите си, бисквитките най-общо може да се категоризират като четири различни
                            типа: </p>
                        <ul >
                            <li class="spd-text">• "стриктно необходими бисквитки” („strictly necessary cookies”); </li>
                            <li class="spd-text">• "функционални бисквитки" („functionality cookies”);</li>
                            <li class="spd-text">• "бисквитки за ефективност” („performance cookies”);</li>
                            <li class="spd-text">• “бисквитки за поведенческо таргетиране или за рекламиране” („targeting or advertising cookies”).</li>
                        </ul>

                        <ul style="list-style:none;">
                            <li>
                                <span style="color:black;font-weight: bold;">
                                    "Стриктно необходими бисквитки” („strictly necessary cookies”)
                                </span>
                                <p class="spd-text">Тези бисквитки са строго необходими, за да може уебсайтовете ни да изпълняват своите функции.
                                </p>
                                <p class="spd-text">Използваме ги например, за да установим нашите потребители, когато те използват нашите уебсайтове,
                                    така че да можем да предоставим нашите услуги или за да можем да изпълняваме и да поддържаме
                                    сигурността на нашите услуги. Тези бисквитки не събират информация за вас, която може
                                    да бъде използвана за маркетинг или реклама. Съгласието Ви за използване на тези бисквитки
                                    се предполага от самото използване на нашите сайтове, поради което не можете да откажете
                                    използването им. </p>
                            </li>
                            <li>
                                <span style="color:black;font-weight: bold;">
                                    "Функционални бисквитки" („functionality cookies”)
                                </span>
                                <p class="spd-text">Чрез тези бисквитки се реализират различните функционалности на сайтовете ни, включително
                                    и сервирането на неперсонализирана реклама. Те ни позволяват да запомним Вашите предпочитания,
                                    като големината на шрифта и други ваши персонални настройки, спестявайки Ви време и усилия
                                    за посочване на потребителско име всеки път, когато посетите страницата ни или за да
                                    видите предпочитано от Вас съдържание. </p>
                            </li>
                            <li>
                                <span style="color:black;font-weight: bold;">
                                    "Бисквитки за ефективност” („performance cookies”)
                                </span>
                                <p class="spd-text">Тези бисквитки не са строго необходими, но ни позволяват да персонализираме Вашето преживяване
                                    на уебсайтовете ни.</p>
                                <p class="spd-text">Информацията, съхранена от "бисквитките за ефективност”, ни помага да разберем как използвате
                                    уебсайтовете ни, да запомним и проверим историята на предишните Ви посещения, какво сте
                                    гледали или сте маркирали или как сте ни открили. </p>
                                <p class="spd-text">След това ще използваме тези данни, за да подобрим уебсайтовете и услугите ни, за по-добро
                                    Ваше преживяване. </p>
                                <p class="spd-text">Не използваме данните събрани от тези бисквитки за целите на сервиране на реклама или за
                                    целите на персонализирането и.</p>
                            </li>
                            <li>
                                <span class="spd-subtitle">
                                    “Бисквитки за поведенческо таргетиране или за рекламиране” („targeting or advertising cookies”).
                                </span>
                                <p class="spd-text">Нашата цел е да предоставяме на посетителите на нашия уебсайт информация, която е възможно
                                    най-подходяща за тях. Това се постига не само чрез съдържанието на нашия сайт, но и чрез
                                    показваните реклами. Тъй като трябва да продължим с излъчването на реклами, искаме те
                                    да бъдат максимално полезни и подходящи за Вас. </p>
                                <p class="spd-text">За да изпълним това, се опитваме да придобием представа за вероятните ВСи интереси на базата
                                    на посещаваните от Вас уебсайтовет и поведението спрямо различното съдържание и реклами.
                                    Впоследствие, на базата на тези интереси, ние адаптираме показваното съдържание и рекламите
                                    в нашите уебсайтове за различните групи потребители.</p>
                            </li>
                        </ul>
                    </li>

                    <li>
                       <span style="color:black;font-weight: bold;">
                            Какви видове бисквитки използваме и за какви цели?
                        </span>
                        <p class="spd-text">Когато посещавате нашите уебсайтове, вие можете да установите наличието на различни видове бисквитки,
                            които се генерират. Ние използваме и четирите описани типа бисквитки. </p>
                        <p class="spd-text">Нашите уебсайтове използват бисквитки за следните цели:</p>
                        <ul class="spd-sublist">
                            <li class="spd-text">• Идентификация на потребители с цел осъществяване на безопасен достъп;</li>
                            <li class="spd-text">• Запомняне на продуктите, добавени в кошницата Ви или закупени в процеса на онлайн пазаруването;</li>
                            <li class="spd-text">• Запомняне на информацията, попълнена от Вас в различни страници, когато плащате или правите
                                поръчки, за да не се налага да попълвате своите данни многократно;</li>
                            <li class="spd-text">• Предаване на информацията от една страница към следващата, например, при попълване на дълъг
                                въпросник или когато е необходимо да попълните много данни за да направите онлайн поръчка;</li>
                            <li class="spd-text">• Запазване на предпочитани настройки като например език, местоположение, брой резултати при
                                търсене, които да се визуализират и т.н.;</li>
                            <li class="spd-text">• Запазване на настройките за оптимална визуализация, като например размера на буфера и параметрите
                                за резолюцията на Вашия екран;</li>
                            <li class="spd-text">• Прочитане на настройките на Вашия браузър с цел оптимална визуализация на нашия уебсайт върху
                                екрана на Вашето устройство;</li>
                            <li class="spd-text">• Безпроблемно зареждане на уебсайта и поддържане на постоянен достъп до него;</li>
                            <li class="spd-text">• Предлагане на опцията за запазване на данните за влизане във Вашия акаунт, така че да не се
                                налага да ги въвеждате всеки път;</li>
                            <li class="spd-text">• Проследяване на броя на потребителите, посещаващи нашите уебстраници;</li>
                            <li class="spd-text">• Проследяване на времето, прекарано от всеки посетител в разглеждане на нашите уебстраниците
                                ни;
                            </li>
                            <li class="spd-text">• Установяване на последователността, в която посетителите посещават различните страници в нашия
                                уебсайт;
                            </li>
                            <li class="spd-text">• Изготвяне на оценки за необходимостта от подобряване на някои части на нашите уебсайтове;</li>
                            <li class="spd-text">• Оптимизация на платформата.</li>
                        </ul>
                      
                    </li>
                   
                    <li>
                        <span style="color:black;font-weight: bold;">
                            Как да управлявате бисквитките?
                        </span>
                        <p class="spd-text">Вие можете да контролирате и/или да изтривате бисквитките, в зависимост от вашето желание. </p>
                        <p class="spd-text">Може да изтриете всички инсталирани на Вашия компютър бисквитки, както и да настроите повечето браузъри
                            така, че да предотвратите разполагането им във Вашия компютър. </p>
                        <p class="spd-text">В случай, че направите това, може да е необходимо да правите промени в настройките на някои предпочитания
                            всеки път, когато посещавате уебсайтовете ни, а някои от услугите и функциите на уебсайтовете
                            ни е възможно да не работят.</p>
                        <p class="spd-text">Как да изтриете всички бисквитки от даден браузър (показана е информация за най-популярните браузъри):</p>
                        <p>
                            <a class="spd-text__link" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=bg">Chrome: https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=bg</a>
                        </p>
                        <p>
                            <a class="spd-text__link" href="https://support.mozilla.org/bg/kb/delete-cookies-remove-info-websites-stored">Firefox: https://support.mozilla.org/bg/kb/delete-cookies-remove-info-websites-stored </a>
                        </p>
                        <p>
                            <a class="spd-text__link" href="https://support.microsoft.com/bg-bg/help/278835/how-to-delete-cookie-files-in-internet-explorer">Internet Explorer: https://support.microsoft.com/bg-bg/help/278835/how-to-delete-cookie-files-in-internet-explorer
                            </a>
                        </p>
                        <p>
                            <a class="spd-text__link" href="https://support.apple.com/kb/ph21411?locale=bg_BG">Safari за компютър: https://support.apple.com/kb/ph21411?locale=bg_BG</a>
                        </p>
                        <p>
                            <a class="spd-text__link" href="https://support.apple.com/bg-bg/HT201265">Safari за таблет и телефон: https://support.apple.com/bg-bg/HT201265</a>
                        </p>
                        <p class="spd-text">Тук може да проверите какви бисквитки имате записани от най-използваните доставчици на персонализирани
                            реклами и да управлявате Вашия избор:
                            <a class="spd-text__link" href="http://optout.networkadvertising.org/?c=1#!/">http://optout.networkadvertising.org/?c=1#!/</a>
                        </p>
                    </li>
                    <li>
                        <span style="color:black;font-weight: bold;">
                            Промени в нашата политика за бисквитки
                        </span>
                        <p class="spd-text">Ние си запазваме правото да променяме настоящата Политиката за бисквитки и поради това препоръчваме
                            да преглеждате периодично съдържанието и. Всички бъдещи промени в нашата Политика за бисквитките
                            ще бъдат публикувани на тази страница, от който момент промените ще се считат за влезли в сила,
                            освен ако не е упоменато друго.</p>
                        <p class="spd-text">Настоящата политика е актуална към дата @DateTime.Now.Date г.</p>
                    </li>
                    <li>
                        <span style="color:black;font-weight: bold;">
                            Въпроси и обратна връзка
                        </span>
                        <p class="spd-text">
                            Моля, изпращайте вашите въпроси и коментари относно бисквитките или поверителността на адрес: support@pravenportal.bg
                        </p>
                    </li>

                </ul>
            </div>
            <hr>
            <div class="container">
                <h2>
                    Права на потребителите по Общия регламент за защита на личните данни
                </h2>
                <ul style="list-style:none;">
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Общи положения
                        </span>
                        <p class="spd-text">
                            Съгласно Общия регламент за защита на личните данни (РЕГЛАМЕНТ (ЕС) 2016/679 НА ЕВРОПЕЙСКИЯ ПАРЛАМЕНТ И НА СЪВЕТА от 27 април
                            2016 година - GDPR), Вие, като субект на събиране и обработка на лични данни, имате право да
                            упражните посочените по-долу Ваши права.
                        </p>
                        <p class="spd-text">
                            Преди да имате тази възможност, е необходимо да Ви идентифицираме.
                        </p>
                        <p class="spd-text">
                            Идентификацията Ви ще стане чрез логин в услугата, за която искате да упражните правата си. Ако сте използвали услуга, за
                            която няма създаден профил, ще извършим идентификацията Ви на място в нашия офис.
                        </p>
                        <p class="spd-text">
                            Определният в Регламента срок за отговор на Вашето искане е до 1 (един) месец. С оглед сложността и броя на исканията, можем
                            да удължим този срок с още 2 (два) месеца, за което ще Ви уведомим по избран от Вас подходящ
                            начин.
                        </p>
                        <p class="spd-text">
                            Имате избор как да подадете искането си – може да го направите в електронен вид от нашия Център за поверителност или в хартиен
                            вид – от нашия търговски офис. Тъй като не поддържаме единна база с данни от всичките ни сайтове/мобилни
                            апликации/продукти/услуги, ще трябва да посочите конкретен сайт/мобилна апликации/продукт или
                            услуга, за който искате да упражните правата си.
                        </p>
                        <p class="spd-text">
                            Ще Ви уведомим по посочения от Вас начин за резултата от всяко Ваше искане по реда на GDPR.
                        </p>
                    </li>
                    <li class="spd-main-list__item">
                        <span style="color:black;font-weight: bold;">
                            Списък с правата Ви
                        </span>
                        <ul class="spd-sublist">
                            <li class="spd-text">
                                Право във всеки един момент да оттеглите съгласието си за обработка на личните Ви данни съгласно изискванията на Регламента;
                            </li>
                            <li class="spd-text">
                                Право на коригиране на личните данни - ако смятате, че има грешка в събраните за Вас лични данни, може да поискате тяхната
                                корекция. Ще трябва да ни посочите верните според Вас данни.
                            </li>
                            <li class="spd-text">
                                Право на достъп до личните Ви данни - имате право да получите потвърждение дали обработваме Вашите лични данни и ако е така,
                                да получите достъп до тях. Заедно с данните ще Ви дадем достъп и до задължителната информация,
                                описана в чл. 15, т. 1 от Регламента.
                            </li>
                            <li class="spd-text">
                                Право на изтриване на личните Ви данни - може да поискате да бъдете забравен, като ние ще преценим дали са изпълнени изискванията
                                на чл. 17 от Регламента.
                            </li>
                            <li class="spd-text">
                                Право на ограничаване на обработването - означава маркиране на съхранявани лични данни с цел ограничаване на обработването
                                им в бъдеще. Ако искате да запазим Вашите лични данни, без да ги обработваме, може да пуснете
                                искане по тази точка.
                            </li>
                            <li class="spd-text">
                                Право на преносимост на данните - може да поискате събраните от нас лични данни за Вас да бъдат предадени в структуриран,
                                широко използван и пригоден за машинно четене вид. Към момента нямаме възможност пряко да
                                прехвърлим данните Ви на друг администратор.
                            </li>
                            <li class="spd-text">
                                Право на възражение – по всяко време може да възразите срещу обработката на лични Ви данни, включително профилиране и директен
                                маркетинг.
                            </li>
                            <li class="spd-text">
                                Право да поискате от Администратора на личните Ви данни да уведомите третите лица, на които Администраторът е предоставил
                                Вашите данни, по отношение на коригиране, изтриване или ограничаване на обработването на
                                личните данни. Във всички случаи, когато упражните някое от горепосочените права, ние ще
                                уведомим тези трети лица за Вашето искане.
                            </li>
                            <li class="spd-text">
                                Имате право на жалба до Комисия за защита на личните данни, която се подава във форма и с реквизити съгласно установеното
                                в закона.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>