@using LawyerServices.Web.Client.Shared.Common
@inherits LayoutComponentBase

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
       <Footer />

    </main>
</div>*@
<header>
  <NavMenu />
</header>

<div>
    <main role="main">
        @Body
    </main>
</div>
  <Footer />