@page "/booking/{lawyerid}/{WorkingTimeExceptionId}"
@using LawyerServices.Services.Data
@using LawyerServices.Services.Data.AdminServices

@inject NavigationManager navigationManager
@inject IWorkingTimeExceptionService wteService
@inject IHttpContextAccessor httpContextAccessor
@inject IUserService userService

<h3>Booking</h3>
<AuthorizeView>
    <Authorized>
        <div class="container-xl">


            <div class="row justify-content-center" id="booking" data-step="2" data-loginurl="https://superdoc.bg/login/healee">

                <div class="col-md-7 col-lg-8 order-sm-2 order-md-1">

                    <div class="box" id="booking-data">
                        <div class="box-header">
                            <div class=" steps-mobile">
                                <i class="fad fa-arrow-circle-right"></i>
                                Последна стъпка
                            </div>

                            <h4>Данни на пациента</h4>

                            <div class="alert alert-danger alert-small alert-with-icon">
                                <i class="fal fa-info-circle"></i>
                                <div>
                                    Почти сме готови! Моля, прегледай данните за пациента и завърши резервацията.
                                </div>
                            </div>
                        </div>

                        <form method="POST" action="https://superdoc.bg/booking/step/2" id="booking-form" class="needs-validation" novalidate="">


                            <div class="alert alert-warning appointment-note" role="alert">
                                <h5>Насоки при резервация</h5>
                                При предварително проведени изследвания или прегледи, моля носете документите, с които ще сравним резултатите от проведения тук преглед. За извършването на преглед по ДЗОФ в почивен ден е необходимо от предния ден да уведомите регистратура, за да могат от съответния фонд да потвърдят прегледа.
                            </div>


                            <div class="row">
                                <div class="col-lg col-xl-6">

                                    <div class="appointment-user">
                                        <label>Пациент</label>
                                        <div class="patient-name-change d-flex align-items-center">
                                            <div class="icon-circle small">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div>
                                                <h4 class="patient-name">Нешо Нешев</h4>
                                                <span class="link">Промени пациента</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="appointment-user-custom" hidden="">
                                        <div class="form-group">
                                            <label>Име и възраст на пациента</label>
                                            <div class="input-group">
                                                <input type="text" name="new_patient_name" class="new-patient-name form-control form-control-lg" placeholder="Име" value="" maxlength="50">

                                                <div class="input-group-append">
                                                    <span class="input-group-text cancel-patient-name">
                                                        <i class="fas fa-times"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-8 col-xl-5">
                                                    <input type="number" name="new_patient_age" class="new-patient-age form-control form-control-lg" placeholder="Възраст" value="" min="0" max="120" step="1">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-info alert-small d-none d-md-block">
                                            Попълни име и възраст на пациента, за който желаеш да направиш резервацията
                                        </div>
                                    </div>

                                    <div class="appointment-phone">
                                        <label class="d-none d-md-block">Телефон за връзка</label>
                                        <div class="patient-phone-change d-flex align-items-center">
                                            <div class="icon-circle small">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                            <div>
                                                <h4 class="patient-phone">
                                                    +359  888724640
                                                </h4>
                                                <span class="link">Промени телефона</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="appointment-phone-custom" hidden="">
                                        <div class="form-group">
                                            <label>Телефон за връзка</label>
                                            <div class="input-group">

                                                <div class="js-phone-code phone-code-holder input-group-prepend">

                                                    <span class="phone-code-selected btn btn-outline-secondary">+359</span>


                                                </div>

                                                <input type="tel" name="new_patient_phone" class="new-patient-phone form-control form-control-lg" placeholder="Телефон" value="" data-validation-minlength="Трябва да въведете валиден телефонен номер." data-validation-type="Трябва да въведете валиден телефонен номер." minlength="8" maxlength="15">

                                                <div class="input-group-append">
                                                    <span class="input-group-text cancel-patient-phone">
                                                        <i class="fas fa-times"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="alert alert-info alert-small">
                                        Този телефонен номер ще използваме, за да се свържем с пациента при промяна на резервацията
                                    </div>


                                </div>

                                <div class="col-lg-6">

                                    <div class="form-group reservation-note">
                                        <label for="notes">Бележка към резервацията</label>

                                        <textarea id="notes" name="notes" rows="5" class="form-control form-control-lg js-text-counter" placeholder="Напишете бележка, ако е необходимо..." maxlength="300"></textarea>
                                        <small class="form-text counter-value text-muted"></small>

                                    </div>

                                </div>
                            </div>




                            <hr class="d-none d-md-block">

                            <div class="message"></div>

                            <div class="row next-step-button">
                                <div class="col-sm-6 col-md col-lg-6">
                                    <button @onclick="SendRequest" class="btn btn-primary btn-lg btn-block">Завърши резервацията</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

                <div class="col-md-5 col-lg-4 d-md-block order-sm-1 order-md-2" id="booking-infocard">
                    <div class="doctor-card">






                        <div class="doctor-card-time">

                            <div class="next-appointment d-flex ">
                                <i class="fal fa-calendar-alt"></i>
                                <div>
                                    <div class="small">Час в кабинет</div>
                                    <h2>
                                        понеделник, 7 февруари 2022, 11:30


                                    </h2>
                                </div>
                            </div>

                        </div>


                        <div class="doctor-card-practice d-flex">

                            <a href="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg">
                                <img class="img-fluid" src="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg" alt="Д-р Доротея Станчева">
                            </a>

                            <div>

                                <h5 class="d-block d-md-none">Преглед при...</h5>

                                <h6 class="doctor-name m-0">
                                    <a class="doctor-name-link" href="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg">
                                        Д-р Доротея Станчева
                                    </a>
                                </h6>

                                <div class="small text-muted">Гастроентеролог, Вътрешни болести, Диетолог</div>

                                <div class="rating rated">

                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>


                            </div>

                        </div>


                        <hr>


                        <span class="clinic-name">МЦ Пансанус</span><br>


                        <div class="small text-muted">София · ул. Одрин 95</div>



                        <hr>
                        <dl class="d-none d-md-block">


                            <dt>Причина за прегледа</dt>
                            <dd>Първичен преглед</dd>

                            <dt>Плащане</dt>
                            <dd>Лично заплащане</dd>


                        </dl>








                    </div>
                </div>

            </div>



            <div class="row help-row justify-content-center">

                <div class="col-md-8">
                    <footer class="alert alert-success help-message" role="alert">
                        <h5>Имате нужда от помощ?</h5>
                        Разгледайте страницата ни с <a href="https://superdoc.bg/faq">Често задавани въпроси</a> или ни пишете на <a href="mailto: hello@superdoc.bg">hello@superdoc.bg</a>
                    </footer>
                </div>

            </div>

        </div>
    </Authorized>
    <NotAuthorized>
        @*  <h1>Authentication Failure!</h1>
            <p>You're not authorize.</p>*@
        @{
            navigationManager.NavigateTo("/Profile");
        }
    </NotAuthorized>
</AuthorizeView>


@code {


    [Parameter]
    public string LawyerId { get; set; }

    [Parameter]
    public string WorkingTimeExceptionId { get; set; }

    string userId;

    protected override void OnInitialized()
    {
        var principal = httpContextAccessor.HttpContext?.User;

        userId = this.userService.GetUserId(principal);
        base.OnInitializedAsync();
    }
    void SendRequest()
    {
        this.wteService.SendRequestToLawyer(LawyerId, WorkingTimeExceptionId, userId);

    }


}
