@page "/component"

@using LawyerServices.Common.LawyerViewModels
@using LawyerServices.Common.WorkingTimeModels
@using LawyerServices.Services.Data.AdminServices

@inject ILawyerService lawyerService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>Component</h3>

@code {
     [Parameter]
    public string Id { get; set; }

    private LawyerListItem model;
    private List<WorkingTimeExceptionViewModel> wtmodel;
    protected override void OnInitialized()
    {

       
       
     
   
    }
}
