@page "/lawyer"

<h3>LawyerDetails</h3>

@*<div class="layer home-layer">
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-12">
    <a class="single_map" href="https://www.google.com/maps/place/гр.София,бул. Джеймс Баучер 76А ет.3" target="_blank">
    <iframe width="880" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?&amp;q=гр.София,бул. Джеймс Баучер 76А ет.3&amp;output=embed&amp;key=AIzaSyCFH6JPMM_Zuu6rMHAPgzn2VneVvDDD5R0"></iframe>
    </a>
    </div>
    </div>
    </div>
    </div>*@
<div class ="container">
     <RadzenCard class="m-3" Style="border-color:black">
                <div class="row">
                    <div class="col-sm-3 col-3">
                        <img class="img-fluid search-result-thumb" src="https://superdoc.bg/photos/doctors/small/WUVdW6ArIR8yNBjsR2HxYSLsisa697uUeMO7byjq.jpg" alt="Д-р Гергана Миланова" itemprop="image">
                    </div>
                    <div class="col-sm-9 col-9">
                        <div class="row">
                            <div class="col-sm-8">
                                <div>
                                    <h3 class="text-center" style="color:black">Адвокат Нешо Нешев</h3>
                                    <div class="rating rated">
                                    </div>
                                </div>
                                <p>Наказателно право</p>
                            </div>
                            <div>
                                <small>Най-ранен час:</small>
                                <span>понеделник в 9:40</span>
                            </div>


                        </div>
                        <button type="button" class="btn btn-outline-primary btn-sm">Primary</button>
                        <button class="btn btn-border-d btn-round" type="submit">Submit</button>
                    </div>
                </div>
            </RadzenCard>
</div>
@code {

}
