@page "/lawyer"

<h3>LawyerDetails</h3>

<div class="container containershadow marg">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg" alt="Д-р Констанца Нейкова, дм" class="img-fluid" itemprop="image">
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="text-center">Advokat Nesho Neshev</h1>
                <a href="" class="firm">Адвокатска кантора „Шилев, Георгиева и Димитрова“</a>
                <h3>гр. Пловдив, ул."Опълченска" 10</h3>
                <div class="card shading">
                    <div class="card-body">
                        <h3 class="card-title">Запази час</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <p>dassasdadsa</p>
        <p>dassasdadsa</p>
        <p>dassasdadsa</p>
    </div>
</div>
<style>
    .marg {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .containershadow {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    }

    .shading {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-color: #00BFFF;
    }
</style>
@code {

}
