@page "/lawyer"
@using LawyerServices.Services.Data.AdminServices

@inject ILawyerService lawyerService

<h3>LawyerDetails</h3>

@*<div class="container containershadow marg">
    <div class="row justify-content-center">
    <div class="col-md-4" style="text-align:center">
    <img src="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg" alt="Д-р Констанца Нейкова, дм" class="img-fluid" width="200" height="200" itemprop="image">
    </div>
    <div class="col-md-8">
    <div class="row">
    <h1 class="text-center">Advokat Nesho Neshev</h1>
    <a href="" class="firm">Адвокатска кантора „Шилев, Георгиева и Димитрова“</a>
    <h3>гр. Пловдив, ул."Опълченска" 10</h3>
    <div class="card shading">
    <div class="card-body">
    <h3 class="card-title">Запази час</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    </div>
    </div>

    </div>
    <div class="row">
    <p>dassasdadsa</p>
    <p>dassasdadsa</p>
    <p>dassasdadsa</p>
    </div>
    </div>*@
<div class="row lawyer justify-content-center">
    <div class="col-sm-4" style="text-align:center">
        <a class="gallery lightbox" href="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg" rel="nofollow">

            <img src="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg" alt="Доц. Сашка Михайлова, дм" width="200" height="220" class="img-fluid rounded-circle" itemprop="image">


        </a>
        @*<img src="https://res.cloudinary.com/dhtcvjbya/image/upload/v1628427665/s77lagl1bt6c2b0au6tb.jpg" alt="Д-р Констанца Нейкова, дм" class="img-fluid" width="200" height="200" itemprop="image">*@
    </div>
    <div class="col-sm-8">
        <h3>Адвокат</h3>
        <h1>Nesho Neshev</h1>
        <a href="" class="firm">Адвокатска кантора „Шилев, Георгиева и Димитрова“</a>
        <h3>гр. Пловдив, ул."Опълченска" 10</h3>
        <p>
            Surgery of the respiratory tract is generally performed by specialists in cardiothoracic surgery (or thoracic surgery) though minor procedures may be performed by
            pulmonologists. Pulmonology is closely.
        </p>
    </div>
</div>

<div class="row lawyer justify-content-center">
    <div class="col-md-4">
        <div class="col">
            <ul>
                <li><span class="oi oi-comment-square"> English, Bulgarian</span></li>
                <li><a href="tel:099999999999"> <span class="oi oi-comment-square"> 0888727670</span></a></li>
                <li><a href="mailto:neshev1978@abv.bg"> <span class="oi oi-comment-square"> neshev1978@abv.bg</span></a></li>
                <li><a href="https://neshoneshev.eu"> <span class="oi oi-comment-square"> https://neshoneshev.eu</span></a></li>
            </ul>
            @*<span class="oi oi-comment-square"> English, Bulgarian</span>
                <a href="tel:099999999999"> <span class="oi oi-comment-square"> 0888727670</span></a>
                <a href="mailto:neshev1978@abv.bg"> <span class="oi oi-comment-square"> neshev1978@abv.bg</span></a>
                <a href="https://neshoneshev.eu"> <span class="oi oi-comment-square"> https://neshoneshev.eu</span></a>*@
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div>
                <h3>Proffesional opit</h3>
                <p>
                    От 2012 год. до днес – част от екипа на Легалекс; От 1994 год. до днес – учредител и управляващ съдружник в Адвокатско дружество “Иво Баев и Партньори”; От 1984 год. до днес – адвокат, вписан в Адвокатска Колегия Бургас; Член на Българска Асоциация по Международно Право. От 1998 год. до 2002 год. – Председател на Съвета на Адвокатска колегия-Бургас, избиран на Общо събрание на колегията за два поредни мандата; От 1995 год. до 1997 год. – член на Съвета на Адвокатска колегия-Бургас; От 1989 год. до 1994 год. – учредител и съдружник в първото адвокатско дружество в Република България “Краев, Костов и Баев”; От 1983 год. до 1984 год. – Стажант-съдия при Окръжен съд-Бургас; През 2002 год. – Председател на Дисциплинарен съд при Адвокатска колегия-Бургас.
                </p>
            </div>

        </div>
        <div class=row>
            <h3>Obrazovanie</h3>
            <p>
                От 1977 год. до 1982 год. – Юридически факултет на Софийски Университет “Св.Климент Охридски”, Магистър по право;
            </p>
        </div>
    </div>

    <div class="row lawyer">
        <div class="card" style="border-color:black">
            <RadzenGoogleMap style="height: 400px" Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 42.6977, Lng = 23.3219 }) MapClick=@OnMapClick MarkerClick=@OnMarkerClick>
                <Markers>
                    <RadzenGoogleMapMarker Title="London" Label="London" Position=@(new GoogleMapPosition() { Lat = 51.5074, Lng = 0.1278 }) />
                    <RadzenGoogleMapMarker Title="Paris " Label="Paris" Position=@(new GoogleMapPosition() { Lat = 48.8566, Lng = 2.3522 }) />
                    @if (showMadridMarker)
                    {
                        <RadzenGoogleMapMarker Title="Madrid " Label="Madrid" Position=@(new GoogleMapPosition() { Lat = 40.4168, Lng = -3.7038 }) />
                    }
                </Markers>
            </RadzenGoogleMap>
        </div>
    </div>
    <div class="row lawyer">
        <div class="col" >
            <p>@date</p>
        </div>
        <button @onclick="OnClick">click</button>
    </div>

</div>
<style>
    .customcard {
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    .lawyer {
        margin-top: 40px;
        margin-bottom: 80px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .containershadow {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .shading {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-color: #00BFFF;
    }

    .lawyer-img {
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        margin-right: 20px;
        width: 150px;
    }

        .lawyer-img img {
            border-radius: 5px;
        }

</style>
@code {
    int zoom = 3;
    bool showMadridMarker;

    DateTime date;

    [Parameter]
    public string LawyerId { get; set; }


    protected override void OnInitialized()
    {
        
        base.OnInitialized();
        date = DateTime.UtcNow;
    }

    void OnMapClick(GoogleMapClickEventArgs args)
    {

    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {

    }
    void OnClick()
    {
         this.lawyerService.GetLawyerById("afcd8d8c-544f-440f-8d06-8c360804736f");
       date = date.AddDays(1);
    }
}
