@page "/administration"
@using LawyerServices.Services.Data.AdminServices

@layout Administration.Shared.AdminLayout

@inject IRequestsService requestService

<button type="button" class="btn btn-primary"  @onclick=@RedirectTo>
  Заявки <span class="badge badge-light">@count</span>
</button>
@code {
    int? count;

    protected override void OnInitialized()
    {
        count = this.requestService.GetRequestsCount();

    }
    void RedirectTo()
    {
        this.NavigationManager.NavigateTo("createuser");
    }
}