@page "/administration"
@using LawyerServices.Services.Data.AdminServices

@layout Administration.Shared.AdminLayout

@inject IRequestsService requestService
@attribute [Authorize(Roles = "Administrator")]
<button type="button" class="btn btn-primary"  @onclick=@RedirectTo>
  Заявки <span class="badge badge-light">@count</span>
</button>
<div class="container-fluid p-0">
    <div class = "row no-gutters mx-n2">
        <div class="col-sm-12 my-5">
                <RadzenChart>
                    <RadzenColumnSeries Data="@revenue2020" CategoryProperty="Quarter" Title="2020" LineType="LineType.Dashed" ValueProperty="Revenue" />
                    <RadzenColumnSeries Data="@revenue2019" CategoryProperty="Quarter" Title="2019" ValueProperty="Revenue" />
                    <RadzenColumnOptions Radius="5" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>

    </div>

</div>
@code {
    int? count;

    protected override void OnInitialized()
    {
        count = this.requestService.GetRequestsCount();

    }
    void RedirectTo()
    {
        this.NavigationManager.NavigateTo("createuser");
    }
    class DataItem
    {
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0");
    }

    DataItem[] revenue2019 = new DataItem[] {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 234000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 284000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 274000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 294000
        },
    };

    DataItem[] revenue2020 = new DataItem[] {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 254000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 324000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 354000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 394000
        },

    };
}